In [64]:
import selenium
import pandas as pd
from selenium import webdriver
import numpy as np

In [2]:
driver=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

### scrape data for “Data Analyst” Job position in “Bangalore” location.  job-title, job-location, company_name, experience_required. of first 10 jobs data.

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
# getting location and job fields
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [5]:
# clicking the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [21]:
#info fleft
title_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")
title_tags=title_tags[0:10]

In [22]:
job_titles=[]
for i in title_tags:
    title=i.text
    job_titles.append(title)
job_titles

['Business Cum Data Analyst',
 'Procurement Data Analyst',
 'Business Data Analyst',
 'Data Analyst with SQL',
 'Capital Market- Data Analyst',
 'Hiring MIS/Data Analyst(Work from Home)',
 'Senior System Analyst, Data Analyst - II Innings',
 'Data Analyst',
 'ID&A - Data Analyst - Informatica MDM',
 'Sustainability Data Analyst']

In [23]:
#subTitle ellipsis fleft
company_names=[]
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags=company_tags[0:10]

In [24]:
company_names=[]

for i in company_tags:
    company=i.text
    company_names.append(company)
company_names

['Virtusa Consulting Services Pvt Ltd',
 'Sunstream Global Technologies LLP',
 'GreatLearning',
 'Wipro Limited',
 'Genpact',
 'NIIT Ltd.',
 'Intertrust Group',
 'Klub',
 'Shell India Markets Private Limited',
 'Capgemini Technology Services India Limited']

In [28]:
# fleft grey-text br2 placeHolderLi experience
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tags=exp_tags[0:10]

In [29]:
exp_list=[]

for i in exp_tags:
    exp=i.text
    exp_list.append(exp)
exp_list

['2-4 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '3-8 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '5-9 Yrs',
 '4-6 Yrs']

In [33]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags=location_tags[0:10]

In [34]:
loc_list=[]
for i in location_tags:
    loc_list.append(i.text)
loc_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Koramangala)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [37]:
print(len(loc_list),len(job_titles),len(company_names),len(exp_list))

10 10 10 10

In [40]:
jobsDF=pd.DataFrame({})
jobsDF['title']=job_titles
jobsDF['company']=company_names
jobsDF['loc']=loc_list
jobsDF['exp']=exp_list
jobsDF['index']=list(range(1,len(job_titles)+1))
jobsDF.set_index('index',inplace=True)
jobsDF

,title,company,loc,exp
index,,,,
1,Business Cum Data Analyst,Virtusa Consulting Services Pvt Ltd,Bangalore/Bengaluru,2-4 Yrs
2,Procurement Data Analyst,Sunstream Global Technologies LLP,Bangalore/Bengaluru(Koramangala),0-2 Yrs
3,Business Data Analyst,GreatLearning,"Gurgaon/Gurugram, Bangalore/Bengaluru",2-3 Yrs
4,Data Analyst with SQL,Wipro Limited,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",3-5 Yrs
5,Capital Market- Data Analyst,Genpact,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",4-8 Yrs
6,Hiring MIS/Data Analyst(Work from Home),NIIT Ltd.,"Kolkata, Hyderabad/Secunderabad, Gurgaon/Gurug...",3-8 Yrs
7,"Senior System Analyst, Data Analyst - II Innings",Intertrust Group,Bangalore/Bengaluru,3-6 Yrs
8,Data Analyst,Klub,Bangalore/Bengaluru,1-4 Yrs
9,ID&A - Data Analyst - Informatica MDM,Shell India Markets Private Limited,Bangalore/Bengaluru,5-9 Yrs
10,Sustainability Data Analyst,Capgemini Technology Services India Limited,Bangalore/Bengaluru,4-6 Yrs

### scrape data for “Data Scientist” Job position in “Bangalore” location. job-title, job-location, company_name, full job-description. for 10 jobs data.

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
# getting location and job fields
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Banglore")

In [5]:
# clicking the search button
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [6]:
#info fleft
title_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")
title_tags=title_tags[0:10]

In [7]:
job_titles=[]
for i in title_tags:
    title=i.text
    job_titles.append(title)

In [111]:
#subTitle ellipsis fleft
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags=company_tags[0:10]

In [112]:
company_names=[]

for i in company_tags:
    company=i.text
    company_names.append(company)
company_names

['Visa Inc.',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Visa Inc.',
 'Exploro Solutions',
 'Peoplefy Infosolutions Pvt. Ltd.',
 'HP India Sales',
 'Findability Sciences Pvt. Ltd.',
 'The Glove',
 'IBM India Pvt. Limited']

In [113]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags=location_tags[0:10]

In [114]:
loc_list=[]
for i in location_tags:
    loc_list.append(i.text)
loc_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore']

In [197]:
def find_job_desc(driver,page):
    #print(page)
    driver.get(page)
    job_desc_text=""

    job_desc=driver.find_elements_by_xpath("//section[@class='job-desc']/div[1]")
    if job_desc==[]:
        job_desc=driver.find_elements_by_xpath("//div[@class='clearboth description']")
    if job_desc==[]:
        job_desc=driver.find_elements_by_xpath("//div[@class='f14 lh18 alignJ disc-li']")
    for i in job_desc:
        job_desc_text=job_desc_text+i.text.replace("\n","")
    #print(job_desc_text)
    return job_desc_text

In [156]:
driver2=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

In [183]:
job_href_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")
job_href_tags=job_href_tags[0:10]

In [198]:
job_desc_list=[]
for atag in job_href_tags:
    
    job_desc_list.append(find_job_desc(driver2,atag.get_attribute('href')))

In [199]:
jobsDF2=pd.DataFrame({})
jobsDF2['title']=job_titles
jobsDF2['company']=company_names
jobsDF2['loc']=loc_list
jobsDF2['JD']=job_desc_list
jobsDF2['index']=list(range(1,len(job_titles)+1))
jobsDF2.set_index('index',inplace=True)
jobsDF2

,title,company,loc,JD
index,,,,
1,Senior Data Scientist,Visa Inc.,Bangalore/Bengaluru,"What a Manager, DS Center of Excellence does a..."
2,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru,"As a Data Scientist at IBM, you will help tran..."
3,Data Scientist: Artificial Intelligence,IBM India Pvt. Limited,Bangalore/Bengaluru,"As Data Scientist, you will develop, maintain,..."
4,"Data Scientist , Data Products",Visa Inc.,Bangalore/Bengaluru,"As part of the Global Product organization, th..."
5,Senior Data Scientist/Tech Lead - SQL/Python/B...,Exploro Solutions,"Pune, Chennai, Bangalore/Bengaluru",Responsibilities :- Lead a team of data scient...
6,Senior Data Scientist with a leading Global Te...,Peoplefy Infosolutions Pvt. Ltd.,"Pune, Bangalore/Bengaluru",Support build & deployment of analytical solut...
7,Data Scientist,HP India Sales,Bangalore/Bengaluru,The Data Scientist will work closely with the ...
8,Data Scientist-India-Bangalore/US- SFO-CA,Findability Sciences Pvt. Ltd.,Bangalore/Bengaluru,Data Scientist-Bangalore-Initially remote than...
9,Senior Advanced Data Scientist,The Glove,Bangalore/Bengaluru,We are looking for Senior Advanced Data Scient...
10,Data Scientist,IBM India Pvt. Limited,Bengaluru/Bangalore,"IntroductionAs a Data Scientist at IBM, you wi..."

### Scrape the job-title, job-location, company_name, experience_required. using the filters available
location filter  - “Delhi/NCR”
salary filter - “3-6” lakhs
“Data Scientist” designation for first 10 job results.

In [ ]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [215]:
driver.get("https://www.naukri.com/")

In [216]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [217]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [232]:
checkboxDelhi=driver.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i[1]")
checkboxDelhi.click()

In [233]:
checkboxSalary=driver.find_element_by_xpath("//label[@for='chk-0-3 Lakhs-ctcFilter-']/i[1]")
checkboxSalary.click()

In [235]:
#info fleft
title_tags=driver.find_elements_by_xpath("//div[@class='info fleft']/a[1]")
title_tags=title_tags[0:10]
job_titles=[]
for i in title_tags:
    title=i.text
    job_titles.append(title)

In [236]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags=location_tags[0:10]

In [237]:
loc_list=[]
for i in location_tags:
    loc_list.append(i.text)
loc_list

['Noida',
 'Noida, Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Ghaziabad, Faridabad, Delhi / NCR',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram, Delhi / NCR']

In [238]:
#subTitle ellipsis fleft
company_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tags=company_tags[0:10]

In [239]:
company_names=[]

for i in company_tags:
    company=i.text
    company_names.append(company)
company_names

['Jubna',
 '2coms',
 'Humonics Global Private Limited',
 'Truetech Solutions Private Limited',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'GABA Consultancy services',
 'ERM Placement Services (P) Ltd.',
 'Huquo Consulting Pvt. Ltd',
 'Truetech Solutions Private Limited']

In [240]:
# fleft grey-text br2 placeHolderLi experience
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tags=exp_tags[0:10]

In [241]:
exp_list=[]

for i in exp_tags:
    exp=i.text
    exp_list.append(exp)
exp_list

['3-5 Yrs',
 '1-6 Yrs',
 '1-6 Yrs',
 '8-10 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '0-0 Yrs',
 '4-7 Yrs',
 '2-7 Yrs',
 '3-5 Yrs']

In [243]:
jobsDF3=pd.DataFrame({})
jobsDF3['title']=job_titles
jobsDF3['company']=company_names
jobsDF3['loc']=loc_list
jobsDF3['exp']=exp_list
jobsDF3['index']=list(range(1,len(job_titles)+1))
jobsDF3.set_index('index',inplace=True)
jobsDF3

,title,company,loc,exp
index,,,,
1,Data Scientist (Python | Machine Learning),Jubna,Noida,3-5 Yrs
2,Data Scientist,2coms,"Noida, Noida",1-6 Yrs
3,Data Scientist,Humonics Global Private Limited,Gurgaon/Gurugram,1-6 Yrs
4,Need Immediate Joiner For Data Scientist,Truetech Solutions Private Limited,Gurgaon/Gurugram,8-10 Yrs
5,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Ghaziabad, Faridabad, Delhi / NCR",0-0 Yrs
6,Data Scientist / Data Analyst / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram",0-0 Yrs
7,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR",0-0 Yrs
8,Data Scientist Job in Big4,ERM Placement Services (P) Ltd.,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",4-7 Yrs
9,Data Scientist - Insurance,Huquo Consulting Pvt. Ltd,"Noida, Gurgaon/Gurugram",2-7 Yrs
10,Immediate Opening For Data Scientist @ Delhi/NCR,Truetech Solutions Private Limited,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-5 Yrs

### scrape data for first 10 job results for Data scientist Designation in Noida location.  company_name, No. of days ago when job was posted, Rating of the company.

In [ ]:
https://www.glassdoor.co.in/index.htm

In [244]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [ ]:
https://www.glassdoor.co.in/

In [263]:
browseLinks=driver.find_elements_by_xpath("//div[@class='browseLinks d-flex justify-content-center mt-std pb-std']/span[3]/a")
jobs_page=browseLinks[0].get_attribute('href')

In [264]:
driver.get(jobs_page)

In [269]:
search_job=driver.find_element_by_id('sc.keyword')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='sc.location']")
search_loc.send_keys("Noida")

In [270]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-1dqvyh7']")
search_btn.click()

In [272]:
title_tags=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a[1]/span[1]")
title_tags=title_tags[0:10]

In [273]:
C_names=[]
for i in title_tags:
    title=i.text
    C_names.append(title)
C_names

['UnitedHealth Group',
 'CODEC Networks Pvt ltd',
 'Optum - India',
 'Crowe',
 'Ericsson',
 'UnitedHealth Group',
 'Salasar New Age Technologies',
 'NEC Opportunities',
 'Innovacer',
 'R Systems']

In [284]:
job_ages=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between css-pa6dqi']/div[2]")


job_ages=job_ages[0:10]

In [285]:
ages=[]
for i in job_ages:
    age=i.text
    ages.append(age)
ages

['11d', '6d', '11d', '2d', '2d', '17d', '30d+', '4d', '30d+', '2d']

In [289]:
rating_parent=driver.find_elements_by_xpath("//div[@class='d-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")
rating_parent=rating_parent[0:10]

In [310]:
i=rating_parent[0]

In [312]:
i=rating_parent[0]
y=i.find_elements_by_tag_name('span')

for x in y:
    if(x.get_attribute("class")==' job-search-key-srfzj0 e1cjmv6j0'):
        rating=(x.text)

3.7

In [314]:
def get_rating(parent):
    rating=''
    y=parent.find_elements_by_tag_name('span')

    for x in y:
        if(x.get_attribute("class")==' job-search-key-srfzj0 e1cjmv6j0'):
            rating=(x.text)
    if rating=='':
        return "no rating"
    else:
        return rating

In [315]:
rating_list=[]
for x in rating_parent:
    rating_list.append(get_rating(x))
rating_list

['3.7',
 '3.1',
 'no rating',
 '3.8',
 '4.2',
 '3.7',
 'no rating',
 'no rating',
 '3.8',
 '3.6']

In [319]:
glassDoor=pd.DataFrame({})
glassDoor['company']=C_names
glassDoor['rating']=rating_list
glassDoor['age Of Job']=ages

glassDoor['index']=list(range(1,len(company_names)+1))
glassDoor.set_index('index',inplace=True)
glassDoor

                            company     rating age Of Job
index
1                UnitedHealth Group        3.7        11d
2            CODEC Networks Pvt ltd        3.1         6d
3                     Optum - India  no rating        11d
4                             Crowe        3.8         2d
5                          Ericsson        4.2         2d
6                UnitedHealth Group        3.7        17d
7      Salasar New Age Technologies  no rating       30d+
8                 NEC Opportunities  no rating         4d
9                         Innovacer        3.8       30d+
10                        R Systems        3.6         2d

## scrape the salary data for Data Scientist designation in Noida location.
Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.

In [46]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [47]:
search_job=driver.find_element_by_name('sc.keyword')
search_job.send_keys("Data Scientist")

search_loc=driver.find_element_by_id("LocationSearch")
search_loc.clear()
search_loc.send_keys("Noida")

In [48]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [49]:
#get signin button
signInButton=driver.find_element_by_xpath("//a[@data-test='signInLink']")
signInButton.click()

In [52]:
emailAddressIp=driver.find_element_by_xpath("/html/body/div[4]/div/div/div/div/div/div/div[1]/div[3]/form/div[1]/div/input")
emailAddressIp.send_keys("saikrishna1930@gmail.com")

In [54]:
passwordIP=driver.find_element_by_xpath("/html/body/div[4]/div/div/div/div/div/div/div[1]/div[3]/form/div[2]/div/div/input")
passwordIP.send_keys("Sk12345678")

In [56]:
signInButton=driver.find_element_by_xpath("/html/body/div[4]/div/div/div/div/div/div/div[1]/div[3]/form/div[3]/div[1]/button")
signInButton.click()

In [ ]:
class="py css-17435dd"

In [57]:
listItemContainers=driver.find_elements_by_xpath("//div[@class='py css-17435dd']")
len(listItemContainers)

20

In [79]:
def getSalaryDetails(listItemContainer):
    try:
        ratingCon=listItemContainer.find_element_by_xpath(".//span[@class='m-0 css-kyx745']")        
        rating=ratingCon.text
    except:
        rating="np.Nan"
    try:
        companyCon=listItemContainer.find_element_by_xpath(".//h3[@class='m-0 css-g261rn']")
        cName=companyCon.text
    except:
        cName="NO Name"
    try:
        avgSalCont=listItemContainer.find_element_by_xpath(".//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']/h3[1]")
        avgSal=avgSalCont.text
    except:
        avgSal="np.Nan"
    try:
        salsCont=listItemContainer.find_elements_by_xpath(".//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p")
        minsal=salsCont[0].text
        maxsal=salsCont[1].text
        
    except:
        minsal=np.Nan
        maxsal=np.Nan
        
    return(rating,cName,avgSal,minsal,maxsal)

In [81]:
cNameList=[]
ratingList=[]
avgSalList=[]
minSalList=[]
maxSalList=[]
for listItemContainer in listItemContainers:
    (rating,cName,avgSal,minsal,maxsal)=getSalaryDetails(listItemContainer)
    cNameList.append(cName)
    ratingList.append(rating)
    avgSalList.append(avgSal)
    minSalList.append(minsal)
    maxSalList.append(maxsal)
glassDoorDS=pd.DataFrame({})
glassDoorDS['company']=cNameList
glassDoorDS['rating']=ratingList
glassDoorDS['avg Sal']=avgSalList
glassDoorDS['min Sal']=minSalList
glassDoorDS['max Sal']=maxSalList


glassDoorDS['index']=list(range(1,len(cNameList)+1))
glassDoorDS.set_index('index',inplace=True)
glassDoorDS

                              company rating     avg Sal min Sal max Sal
index
1           Tata Consultancy Services    3.9   ₹6,31,184     ₹4L    ₹13L
2                                 IBM    3.9   ₹9,08,246     ₹1L    ₹28L
3                           Accenture    4.1  ₹11,93,390     ₹6L    ₹23L
4                  Ericsson-Worldwide      4   ₹7,61,766     ₹4L    ₹17L
5                           Delhivery    3.7  ₹12,49,716     ₹5L    ₹1Cr
6                  UnitedHealth Group    3.7  ₹12,80,000     ₹8L    ₹16L
7                         EXL Service    3.6  ₹12,42,519     ₹6L    ₹20L
8                               Optum    3.7  ₹12,70,000     ₹8L    ₹20L
9              Optum Global Solutions    3.9  ₹14,55,430    ₹10L    ₹18L
10                          dunnhumby      4  ₹11,40,187     ₹6L    ₹21L
11                 Valiance Solutions    4.2   ₹8,86,064     ₹5L    ₹15L
12     Cognizant Technology Solutions    3.8   ₹9,62,227     ₹4L    ₹13L
13                             Amazon    3.8  ₹20,63,782    ₹10L    ₹46L
14                      ZS Associates      4  ₹11,71,868     ₹2L    ₹19L
15                            Nagarro      4  ₹11,01,815     ₹4L    ₹21L
16                         Innovaccer    3.8  ₹12,40,275     ₹6L    ₹17L
17                            Fresher    4.1     ₹50,000    ₹25T     ₹1L
18                                OYO    3.3  ₹14,51,902    ₹10L    ₹21L
19                   HCL Technologies    3.7   ₹6,87,316     ₹4L    ₹15L
20                            Genpact    3.8   ₹5,91,319     ₹2L    ₹23L

## Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [386]:
def getProductDetails(prodTag):
    try:
        brand=prodTag.find_element_by_class_name('_2WkVRV')
        brandName=brand.text
    except:
        brandName="no brand Name"
    try:
        desc=prodTag.find_element_by_class_name('IRpwTa')
        desc=desc.text
    except:
        desc="NO DESC"
    try:
        price=prodTag.find_element_by_class_name('_30jeq3')
        price=price.text

    except:
        price="00"
    try:
        disc=prodTag.find_element_by_class_name('_3Ay6Sb')
        disc=disc.text
    except:
        disc="0%"
    return(brandName,desc,price,disc)

nextPageA=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
nextURL=nextPageA.get_attibute("href")

In [454]:
def get_nextPage():
    #nextPageA=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a[@class='_1LKTO3']")
    nextPageA=[]
    while(nextPageA==[]):
        nextPageA=driver.find_elements_by_class_name("_1LKTO3")    
    nextURL=nextPageA[-1].get_attribute("href")
    driver.get(nextURL)
    return driver

driver.get("https://www.flipkart.com/")
try:
    buttonClose=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    buttonClose.click()

except:
    pass
search_Prods=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_Prods.send_keys("sunglasses")
search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()
brandNames=[]
descList=[]
priceList=[]
discList=[]
for i in range(0,6):
    if(len(brandNames)==100):
        break
    prodParentTags=driver.find_elements_by_xpath("//div[@class='_2B099V']")
    for prodTag in prodParentTags:
        brandName,desc,price,disc=getProductDetails(prodTag)
        brandNames.append(brandName)
        descList.append(desc)
        priceList.append(price)
        discList.append(disc)
        if(len(brandNames)==100):
            break
    driver=get_nextPage()

In [455]:
print(len(brandNames),len(descList),len(priceList),len(discList))

100 100 100 100

In [457]:
flipKart=pd.DataFrame({})
flipKart['brand']=brandNames
flipKart['desc']=descList
flipKart['price']=priceList
flipKart['discount']=discList

flipKart['index']=list(range(1,len(brandNames)+1))
flipKart.set_index('index',inplace=True)
flipKart

,brand,desc,price,discount
index,,,,
1,Singco India,UV Protection Aviator Sunglasses (Free Size),₹281,76% off
2,PIRASO,UV Protection Butterfly Sunglasses (65),₹359,86% off
3,IDEE,"Mirrored, UV Protection Aviator Sunglasses (18)","₹1,159",52% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹458,49% off
5,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
...,...,...,...,...
96,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹449,50% off
97,PHENOMENAL,"UV Protection, Mirrored Round Sunglasses (Free...",₹216,89% off
98,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹359,82% off
99,Singco,UV Protection Aviator Sunglasses (Free Size),₹526,73% off
100,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹499,44% off

details are verified with the website and are matching

### 100 reviews data from flipkart.com for iphone11 phone: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

In [562]:
def getReviewDetails(container):
    try:
        rating_Summary=container.find_elements_by_xpath(".//div[@class='col']/div[1]/div[1]/div[1]")
        ratingText=rating_Summary[0].text
    except:
        ratingText="0"
    try:
        reviewSummary=container.find_elements_by_xpath(".//div[@class='col']/div[1]/div[1]/p[1]")
        reviewSummaryTxt=reviewSummary[0].text
    except:
        reviewSummaryTxt="NA"
    try:
        fullReview=container.find_elements_by_xpath(".//div[@class='col']/div[1]/div[2]")
        fullReviewTxt=fullReview[0].text.replace("\n"," ")

    except:
        fullReviewTxt="NA"
        
    return (ratingText,reviewSummaryTxt,fullReviewTxt)

In [567]:
getReviewDetails(containers[2])

('5',
 'Perfect product!',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .')

In [592]:
def get_nextPageReview():
    nextPageA=[]
    while(nextPageA==[]):
        nextPageA=driver.find_elements_by_class_name('_1LKTO3')    
    nextURL=nextPageA[-1].get_attribute("href")
    driver.get(nextURL)
    return driver


driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")
getAllReviewURL=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a")
getAllReviewURL.get_attribute("href")
driver.get(getAllReviewURL.get_attribute("href"))
ratingTextLst=[]
reviewSummaryTxtLst=[]
fullReviewTxtLst=[]
for i in range(0,10):
    containers=driver.find_elements_by_xpath("//div[@class='_27M-vq']")
    for container in containers:
        (ratingText,reviewSummaryTxt,fullReviewTxt)=getReviewDetails(container)
        ratingTextLst.append(ratingText)
        reviewSummaryTxtLst.append(reviewSummaryTxt)
        fullReviewTxtLst.append(fullReviewTxt)
    driver=get_nextPageReview()

In [595]:
flipKartReviews=pd.DataFrame({})
flipKartReviews['rating']=ratingTextLst
flipKartReviews['reviewSummary']=reviewSummaryTxtLst
flipKartReviews['fullReview']=fullReviewTxtLst

flipKartReviews['index']=list(range(1,len(ratingTextLst)+1))
flipKartReviews.set_index('index',inplace=True)
flipKartReviews

,rating,reviewSummary,fullReview
index,,,
1,5,Brilliant,The Best Phone for the Money The iPhone 11 of...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good As far as camera ...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...
100,5,Brilliant,A wort full value for money decision it’s . Si...

the data is matching as expected

### Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [102]:
def getProductDetails(prodTag):
    try:
        brand=prodTag.find_element_by_class_name('_2WkVRV')
        brandName=brand.text
    except:
        brandName="no brand Name"
    try:
        desc=prodTag.find_element_by_class_name('IRpwTa')
        desc=desc.text
    except:
        desc="NO DESC"
    try:
        price=prodTag.find_element_by_class_name('_30jeq3')
        price=price.text

    except:
        price="00"
    try:
        disc=prodTag.find_element_by_class_name('_3Ay6Sb')
        disc=disc.text
    except:
        disc="0%"
    return(brandName,desc,price,disc)

In [146]:
def get_nextPage():
    #nextPageA=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a[@class='_1LKTO3']")
    nextPageA=[]
    while(nextPageA==[]):
        nextPageA=driver.find_elements_by_class_name("_1LKTO3")    
    nextURL=nextPageA[-1].get_attribute("href")
    driver.get(nextURL)
    return driver


driver.get("https://www.flipkart.com/")
try:
    buttonClose=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    buttonClose.click()

except:
    pass
search_Prods=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_Prods.send_keys("sneakers")
search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()

brandNames=[]
descList=[]
priceList=[]
discList=[]
prodParentTags=[]
while (prodParentTags==[]):
    prodParentTags=driver.find_elements_by_xpath("*//div[@class='_2B099V']")

for i in range(0,6):
    if(len(brandNames)==100):
        break
    for prodTag in prodParentTags:
        brandName,desc,price,disc=getProductDetails(prodTag)
        brandNames.append(brandName)
        descList.append(desc)
        priceList.append(price)
        discList.append(disc)
        if(len(brandNames)==100):
            break
    driver=get_nextPage()
    prodParentTags=[]
    while (prodParentTags==[]):
        prodParentTags=driver.find_elements_by_xpath("*//div[@class='_2B099V']")

In [147]:
flipKartSnk=pd.DataFrame({})
flipKartSnk['brand']=brandNames
flipKartSnk['desc']=descList
flipKartSnk['price']=priceList
flipKartSnk['discount']=discList

flipKartSnk['index']=list(range(1,len(brandNames)+1))
flipKartSnk.set_index('index',inplace=True)
flipKartSnk

,brand,desc,price,discount
index,,,,
1,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹679,72% off
2,WROGN,Sneakers For Men,₹874,65% off
3,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹299,76% off
4,believe,Sneakers for men(black_7) Sneakers For Men,₹424,57% off
5,Kraasa,Series 7 Sneakers For Men,₹388,61% off
...,...,...,...,...
96,PUMA,Vikky v2 Sneakers For Men,"₹1,475",63% off
97,PUMA,Rebound Joy Low Sneakers For Men,"₹2,499",50% off
98,PUMA,Trenzo II IDP Sneakers For Men,"₹1,106",63% off
99,PUMA,Smash Vulc Canvas Sneakers For Men,"₹1,475",63% off
100,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,₹471,81% off

Data is correct and matching

### Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”


for each laptop:
1. title
2. Ratings
3. Price

In [42]:
driver.get("https://amazon.in")
search_Prod=driver.find_element_by_xpath("//*[@id='twotabsearchtextbox']")
search_Prod.send_keys("Laptop")
# clicking the search button
search_btn=driver.find_element_by_xpath("//*[@id='nav-search-submit-button']")
search_btn.click()

In [43]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
j=0
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break

In [46]:
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")

for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [65]:
def getProductDetails(prod):
    try:
        nameCon=prod.find_element_by_xpath(".//span[@class='a-size-medium a-color-base a-text-normal']")
        name=nameCon.text
    except:
        name=" "
    try:
        ratingCon=prod.find_element_by_xpath(".//div[@class='a-row a-size-small']/span")
        rating=ratingCon.get_attribute('aria-label')
    except:
        rating=" "
    try:
        priceCon=prod.find_element_by_xpath(".//span[@class='a-price-whole']")                                            
        price=priceCon.text
    except:
        price=" "
        
    
    return(name,rating,price)

In [61]:
getProductDetails(products[1])

('Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596',
 '4.4 out of 5 stars',
 '89,990')

In [62]:
products=driver.find_elements_by_xpath("//div[@data-component-type='s-search-result']")
len(products)
products=products[0:10]

In [66]:
nameLst=[]
ratingLst=[]
priceLst=[]
for prod in products:
    name,rating,price=getProductDetails(prod)
    nameLst.append(name)
    ratingLst.append(rating)
    priceLst.append(price)
    
    
prodsDf=pd.DataFrame({})
prodsDf['name']=nameLst
prodsDf['price']=priceLst
prodsDf['rating']=ratingLst
prodsDf['index']=list(range(1,len(nameLst)+1))
prodsDf.set_index('index',inplace=True)
prodsDf

,name,price,rating
index,,,
1,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"84,990",5.0 out of 5 stars
2,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,"89,990",4.4 out of 5 stars
3,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"24,990",3.3 out of 5 stars
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"53,990",4.2 out of 5 stars
5,HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...,"3,55,000",4.5 out of 5 stars
6,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,"84,990",4.3 out of 5 stars
7,Acer Nitro 5 11th Gen Intel Core i7-11800H 15....,"89,990",3.8 out of 5 stars
8,(Renewed) Lenovo Thinkpad Hybrid Laptop T450s ...,"39,990",
9,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"84,990",5.0 out of 5 stars
10,HP Pavilion Gaming 11th Gen Intel Core i7 15.6...,"89,990",3.6 out of 5 stars