In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains

import numpy as np

In [2]:
driver=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

### python program which searches all the product under a particular product vertical from www.amazon.in. The product verticals to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [3]:
driver.get("https://amazon.in")
search_Prod=driver.find_element_by_xpath("//*[@id='twotabsearchtextbox']")

In [4]:
userSearch=input("enter the product")

enter the productguitar

In [5]:
search_Prod.send_keys(userSearch)
# clicking the search button
search_btn=driver.find_element_by_xpath("//*[@id='nav-search-submit-button']")
search_btn.click()

In [6]:
driver1=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

In [7]:
def getProductDetails(prod):
    try:
        nameCon=prod.find_element_by_xpath(".//span[contains(@class,'a-text-normal')]")
        name=nameCon.text
        brandName=name.split()[0]
    except:
        brandName='-'       
        name="-"
    try:
        ratingCon=prod.find_element_by_xpath(".//div[@class='a-row a-size-small']/span")
        rating=ratingCon.get_attribute('aria-label')
        
    except:
        rating="-"
    try:
       
        ratingCountCon=prod.find_element_by_xpath(".//span[@class='a-size-base']")
        ratingCount=ratingCountCon.text
    except:
        ratingCount="-"
    try:
        priceCon=prod.find_element_by_xpath(".//span[@class='a-price-whole']")                                            
        price=priceCon.text
    except:
        price="-"
    try:
        delivery=prod.find_element_by_xpath(".//span[contains(@aria-label,'Get it')]")
        delivery=delivery.text
    except:
        delivery='-'       
    try:
        link=prod.find_element_by_xpath(".//a[@class='a-link-normal a-text-normal']")                                            
        link=link.get_attribute('href')
    except:
        link="-"
    try:
        driver1.get(link)
        driver1.implicitly_wait(3)
        availability=driver1.find_element_by_xpath(".//div[@id='availability']/span")                                            
        availability=availability.text
    except:
        availability="-"
    try:
    
        returnEx=driver1.find_element_by_xpath(".//a[@class='a-size-small a-link-normal a-text-normal']")                                          
        returnEx=returnEx.text
    except:
        returnEx="-"
    try:
    
        aboutCon=driver1.find_element_by_xpath(".//div[@id='feature-bullets']")
        x=aboutCon.find_elements_by_xpath(".//span[@class='a-list-item']")
        about=""
        for i in x:
            about=about+i.text
        
    except:
        about="-"

        
                
    
    return(brandName,name,ratingCount,rating,price,returnEx,delivery,availability,link,about)

In [ ]:

brandNameLst=[]
nameLst=[]
ratingLst=[]
ratingcountLst=[]
priceLst=[]
returnExLst=[]
deliveryLst=[]
availabilityLst=[]
prodURLLst=[]
aboutLst=[]
for j in range(0,3):
    products=driver.find_elements_by_xpath("//div[@data-component-type='s-search-result']")
    len(products)
    for product in products:
        brandname,name,ratingCount,rating,price,returnEx,delivery,availability,prodURL,about=getProductDetails(product)
        brandNameLst.append(brandname)
        nameLst.append(name)
        ratingLst.append(rating)
        ratingcountLst.append(ratingCount)
        priceLst.append(price)
        returnExLst.append(returnEx)
        deliveryLst.append(delivery)
        availabilityLst.append(availability)
        prodURLLst.append(prodURL)
        aboutLst.append(about)
        
    try:
        nextURL=driver.find_element_by_xpath("//li[@class='a-last']/a").get_attribute('href')
        driver.get(nextURL)
        driver.implicitly_wait(3)
    except:
        break

In [ ]:
prodsDf=pd.DataFrame({})
prodsDf['BrandName']=brandNameLst
prodsDf['name']=nameLst
prodsDf['rating']=ratingLst
prodsDf['No of rating']=ratingcountLst
prodsDf['price']=priceLst
prodsDf['return/exchange']=returnExLst
prodsDf['expected delivery']=deliveryLst
prodsDf['Availability']=availabilityLst

prodsDf['other details']=aboutLst

prodsDf['prodURL']=prodURLLst





prodsDf['index']=list(range(1,len(nameLst)+1))
prodsDf.set_index('index',inplace=True)
prodsDf

In [ ]:
a

### Access the search bar and search button on images.google.com and scrape 100 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning

enter the imageNamefruits

In [153]:
import time

In [154]:
def scroll_to_end(wd):
    wd.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [164]:
def user_search():
    driver.get("https://images.google.com/")
    userSearch=input("enter the imageName")
    search_Prods=driver.find_element_by_xpath("//input[@title='Search']")
    search_Prods.send_keys(userSearch)
    search_btn=driver.find_element_by_xpath("//button[@type='submit']")
    search_btn.click()
    driver.implicitly_wait(3)
    image_count=0
    max_links_to_fetch=100
    imgContainers=[]
    while image_count < max_links_to_fetch:
            scroll_to_end(driver)
            image_count = len(imgContainers)
            imgContainers=driver.find_elements_by_xpath("//div[@class='isv-r PNCib MSM1fd BUooTd']/a[1]/div[1]/img[1]")
    return imgContainers

In [165]:
fruitsList=user_search()
fruitsImgLst=[]
for image in fruitsList:
    fruitsImgLst.append(image.get_attribute("src"))

enter the imageNamefruits

In [168]:
len(fruitsImgLst)

100

In [170]:
fruitsImgLst[0]

'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTExMWFhUXGR8aGRgYFx8bHxoeIBsYGxodHR0gICggHR0lGx8fIjEjJikrLi4uHR8zODMsNygtLisBCgoKDg0OGxAQGy8mICYvLzA1Mi8wLy0vLi0vLy0tLS8tLS0tLSstLy8vLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIARMAtwMBIgACEQEDEQH/xAAcAAACAwEBAQEAAAAAAAAAAAAABgQFBwMCAQj/xABEEAACAQIEBAQEAwYDBgUFAAABAhEAAwQSITEFBkFREyJhcTKBkaEHQrEUI1LB0fAVYuEWM1NykvEkY4KisjVDc5PC/8QAGgEAAgMBAQAAAAAAAAAAAAAAAAQCAwUBBv/EADcRAAEDAwIEBAYCAgEDBQAAAAECAxEABCExQRJRYXEFgZHwEyKhscHR4fEjMhRCUoIGFSRDcv/aAAwDAQACEQMRAD8A3Ciiiiiiiiiiiiiiiiiiiiiiiiiq/GcWw9tsly9bRiJhmAMaidemhryONYfKX8e3lDZS2cRmIkCfao8adJqwMuEAhJg9DntVlRVfh+MYdyFS/aZjsFdST7Cda6YbiFq4zKlxGZT5lVgSNSNR01FAUk6GuKacTPEkiOmlTKKrhxnDlDcF62UBALBxAJ2BPSa83eNYZYzX7a5lDCXAkGYI77UcaeYrvwXZjhM9j+vYzVnRVfhOL2LjZLd627ROVXBMd4FWFdBByKipCkGFAg9aKKKK7UaKKKKKKKKKKKKKKKKKKKKKKKKKK8m4BuR9a9UUUUUUUUUUUVFTFA3GtgHyqpLaR5iwjeZGXt1FcJA1orP+erbNxTDKiI7G2sK/wnz3NG9K+86YVrfDvPZtWXN9ZFnQEZGg+9OuJ4NZe+mIZZuIIVpOg1O225Ne+L8KtYhAl5cyhg0SRqJA1HuaVVbkhfM6Vtt+LJQpgcJ4UATzkEnGYjO8Gsx4baL43Bpct28MVW26lVjxvhKkkaFmiNY1kb6Vd8n4pEx/EM7KvnY+YxoLhk69pFM/E+X7FwWybcvaCi2cxUgKRGoImIkSd+omqni3LS4i4XbDW8xiWFw66ayBGswPkfSeJt1pVIjXtOI5bVN3xNh9str4gCkAxBghfFIlUmd5OOtJ/C//AKTjP/yJ/wDJaYeK8MsvwlbzIviJYQK3UCR/U/WmocvYcYf9m8MC1oSokSQQZJmZkd67vwm0bH7OVPhZQsSdhsJma6m2IEH/ALY86HfGELcC08Q/y8f/AIwkRrrjTTrS/wDh1wu0uFs3wgF1lYFtZIzsP0ApxqHwzAW7FpbVsZUWYEkxJJOp13NTKYbRwpAFZV4/8d9bkmCSROsSSB5UUUUVOKWoooooooormbizEie010ooooooooorD+fufcQ2Lu2LLlLNlihC6FiNGLHeJkQNIrcK/Pn4q8vHDYq5dGq3mLj0kyR9SapfnhxWl4UGy/8AOAcYmvGK5hd7YVlTUhgQR2ggxr0mDrqelOn4T8yXLhvYdySFXOkmcuoBWe2oMe9YxbuQa0z8EMI1y/iLsHKtvLP+ZiI+wNJW7XAv5BE1uX/wRaLTHXUnMjSZjyitWx4PhsQ0NBIMka7iSOk16wtnKgGZid8xYkknUmT6nbao3HsCt2wwclQNdDGsEaxuBO3oO1S8JhRatrbtjQCFHbsPYUBRJivLkiKhcdxjstuxaLLcuwWZR8FsGXM/lLRkU9202qj5KvNbxuMw5kqG8hMTpsCesgyPnULnPnW5hHa0gtxbKAI6MS2itnkEACdI30mddK7if4gm2yXbdi2rulpnDK2ZpTNoQQuUBsoJ1OnarVlJWFk5SfxmPe1MJ8JuVlBSP9hI7R/Iq25553uYe4LVtWR0cHzrpeWDoJHw+oPT0IpDxvOWKdnD4qCWkJbZwdMwKwhGXykHfKY1nemrnXBDF4JOISULKhNsiY1AOVumg00102ms4/w42yRBtjQ+KHDZVeQAddyQR86i6pRJk9q0rVlAQFJSMGDOcjWJEa7zHlitV5T56zMmFCXHygl7l1xnyyYbLG0kAAmYGutWOD4l4jSlyI1BAmDJkT1jr8qx3hV6HteGBbuM6oGEiQXAEjYqZ269TNammDe0Es2AjokucxAOpJI20JJnasPxV1ZUkTpkdOZJ7gRGdzkClHWkIMjM6++vTHKrnh/ELhOclTlMFp+LcbdvSmL9tXwxcOx6DWT6UkYC0DnuFWtNcM5C2hgQDAOXUCT11q8xspaQTurEdhtp8pqqyvnWEPK1Azkz8xIE6yd9NY2NLfCC1AV2xvHUYZLbHP8AmEEMo9vXuKVuM3/Ci8HMyBuTMn3B2mkDlj9pfiLs4dSp/ek99I950IHaKv8AmJ2uZI+EMW+5g/T9anduPO3SUqXiBIBxz5nJ1B161ss2TaSEp0zP189sD76l/wCW+ZReNy2ZLIuYE7kTBB+ca9ZqJf4lcdzB0O3eoXJ/CmPjXgCJtZFPdpDfaB9a+27hBzIYKnUHdT2I7etcvlvKtmeImMz1zjvjSddedLtMNpcXwgYjXbH7xVnw/jro+V9VJ+lTeP8AF8mVEOrDNPodqW8ZiHumTJO39+lHM2HuWzauEHKyRPYgmB6EiD9e1RYurgsOtoUSBEHcCY5mJ5TjnVos2lOo4gATONiQK93MR1k1e8t8VLN4TGdJX5dPpSE+K9aZuSbDPdz/AJUB19SIAqHhaXEXKeDfXtvV99apFupSthjvtT5RRRXtK8tRS3zryqmPs5C2S4slHiYncEdQYH0FMlFETipJWUHiSc1iFr8GMTIzYiwBOpAYwO4ECT6SK0vgvAWwVpbGFFvIBLPcnM765iY0109o22o5p4tetBFw652YnMQAcoEfKT/Klx+P44iCHHeEA+4FZb3iTFusogk9I/JFaYZubpAUpQjkcfQD7043OHm+HTEIpQxorMobeZAPsYqZgcClpQqZoG2Z2cj0liTWYnidwmSzE+pNMfLHMLljbuEt5SVneQJifUVWx4o244ElETvg564EVx/wx1tsqmYqz5g4AmIcO2HsXSoEG4DO7aSNxtodNTUbH8sLiXVsRh8OwWACM4bLPwmCBAE6aiffSgwfMovXirk+INwDousQI/TfaaZbPH0tubTPmbLmyjUj37D3qtHjTKneBaCkHcxEczyHXNZ/G4gjJEdTvypgsWVRQqqFVQAABAAGwA7Ut4vkbBNbdUtBGYyHElgQZG5+Efw7RVsuKfMCyQpGkN7bj/vuduthauBhIrUQ829j7gj7gdPpNcStSDKTFJ+H5cwmHayGw9y9ctgRcylgIjUCYXUSANe21XIxKOyzh7gltyoG5iSAZiRrI7VdUr8X5ny3jYtQWWM57EiYHyjWo3K2GGpcHy8ontiouvKJK1nNXQ4XbkkiR0HaumIwSOmUjTpGhHsao7PGLyjMwDr1GgPyir3B4pbqB0Mqft3B9RS1m5ZvJUllI6giDB76jOmlcS6ScEyKX7vLqo5a3bLhoLS4GYwdwAJGijfrsdakWOC23ebmFVRE/HIBnbKDER1+1TeOcS8FBHxMYHp3NUVjjl8HNq69QQP5bVW9cWVqsNlsbHCRA5T+NTFaLaLp5PHx9BJI9KbbdsKAFAAGwAgCq/H8Ds3WzkFX/jQ5W+ZG/wA6m4e+HUMOoBjqJ71Rcx8zDDQqoXczlUA6xE7bAEge/TeNFfw1o+YAj1FK2/xQ5DUhXp69KkNwlrceFDHqbpO/QwsCZ6wTRjLWJuIyOmHZSDoS3yn27jr23pRT8Rb4Mvh1y+hOnzjWrvEc0reso9qVDyGncEbr7/1FUKfYYaJAgDYDXy0ppdldcYUrfedN9tK9nlLBBhmcg/weIInt/F96ZMHhUtKEtqFUdB/ep9aQcRiUcZQuv1n3q45U4yTcNhjOkp6R0+lLWt2yXeBCAJ3EehwKuu2bhbfEtalRsT9dTTdRRRWtWRRSzzDxN83h2ymnxT19JG3+lM1IvOPD3UvdQNDDRkjQ9mkRBJ3O0msvxf4v/Hhvc57eWe8faae8PQhTwC/KdJqtfiK+ZnaDBgKf4d4jczXxMSygB41IJM7EnNB9Z0+lVVzOMloqpSQSQSQQNT6hi3X3q+4dy/cabjBzbVTAbVz3CyJeRoC33rzDVsXVBDQntoOXbfXHWYn0b4ZZRxLMDr0wI66yM1xTCg+Y9atOXeGZroeBlWcx91Ij31qxsi0IjB3dh8QJ9xudenv2GtXdgBrei5JkRERuNtPetq08GcbcDjigYMwJzGRJx9qwnvEeNJSkHOPL61meM5dxFu4z28Mt0mVDoyho3WZIgjT+tQ+G8Hv4NvHxQhsQ4mTJAU7EjT8xgelaTibgt6uGHsCQfoKrcZhbd5PEvJcFucqrGpJnzZTt7xJmoLs0FJabB4jA1MAAzmcgY5yTETgVnEjWrjiBhZrnhsWEViddoHc/9oqHZdf3aeJeKqcs+H8cwAS0HyrOpHaZgGrDiWDPhfulBZdQp/N3E9D61orafH+RIEgd8weXf3NBViojcQuMdDlHp/rSRzHZt4e8t/M03rhzCZ1ILZh2E9P0q2bjLZsnhFW2IY6j5QDUwcFW4jPibLXcw8iAEERG0RkJ6ajSe9ZLYdul/CJUeczA+0HoKoUpKxCah4XiyhTroRVhy1i2TDsVEl7jFQTGnU99+leuEcq4Yy2S8ADAW4xEjvEAx86vcZw1XVQIUropA2HaO1MWvhdxbBSkqBVEDzOdRrymRNTYSOMFzT3/ABSpisRfxLAXLZCA6aZY6Ekz5dtjJ9K7cNVbLMmYsC8gnoIAj1gifnUzGYV1Ki7dAzaLlDOx22EeteicM9oIrEMDmDFfNmPcGJkCI9B6VQbC6uFFaxEZEmZI0HQRzrXNy2hPwyr5TyGB179s1B5extxbmS5AysEAAgEM0AfI60tce4jcS81t1tsgghGWDDCSQRB+KZ13Bp5wvDHY22dlKKVdYHmMarOmlceP8Ba4c9tUad0uAESdysgwT12p62YdbaMpOum+gnfpz8quF2wH+LGRmNAeh237TWfYXEK7hbWFOYkRDMT6mJiPfT2q04+q4dUs2BNtTN0gTDtIEt6gaD0q+wPLuJ+H93YQ75Asn5Lv8zVpYw7JbayMJnQzOZ185/zAj++lWBhy4SUlPCDuYk9IG3PPTep3HiCEkcOY2knzJMieUd5pCsOTBFX/ACZw8tiTd/KgMn1IgD7zViOX0Bn9jI80EDENES2oHbQaafF6Uw8Mt5UjwhaAOigz0Gpgbz71XZ+FrZdC1kY5T+hSz/iKFtlKAc4zH4JqdRRRW1WTRRRSnzHzEbd1bSEiTBKxPrv0Hp1qp55LSeI1NCCswKaBaWZyie8VUcX48tqQsEjcnYfSlLF8exJ8zXHVQNra9O7QJ9ztXixiC3lfeJB7jrPQ95rPc8RC/lRI6n8de9ON2cZXTDw3m4XDqkjusj9aZrN0MAymQazN8atuNt+lNvBsZmw9xkOyyPeDNXW9yozxZqFyylKeJIqTj+PqhIRc5HrA+R61Xf7X5dXteXqQdvrv9aUMa9u9iksX7vg4cLmkMV8Q7ZQw7dqj832sDaTw8F4j3zBGR2ZV2EuTIiD9zWSi8u3gHA4Ez/0wCI6k57nEctQM6FqTxBUVq2E4jauWheRwbZE5u3v2pcxnOUNFq1mHdjE/KKTMDfuW1NkkqrZWbUxmAMgfUaegq5wlhSJBk9qk94q4sAN4xJ/jpv51oWraFNBxY1284pgwfOVskC6htz+YHMPnoCKZrbggEEEHUEdayrjrqEO1Wv4X8eNwXcOxJFsZl6kCYI+pkfOnLC/cdVwOZ69ft9q6+wAOJA0rQ644m+ttWd2Cqokk7ACqPmbjYtYYvbZgzQAcpzIDu2QiQQO40O+0VlHEOPIMQGa9iLqqv/GYZm0PQiPtWip9A3nzqyy8OcugVJOnr75VqXDecsPiLptW/GBTVi1shY9eo+YFTP8AarB+L4PjqX7AMR/1AZfvSa3ArTM2IDPZZlBuAXCFMDqeum5nWq1eC3sPcGKsvntgarGqr1I/iHXvSCfE21GEnfljypxqwtnFEEkYgZH+3UxEHStcRwQCDIOxHWlzmTjHh3LdtRLKRcb0A/L7kT8vepXLXEVvKSmwCnbSTMgfQH51ntvGtdu3Hfd2J9tdB8hA+VS8SuS20AjVX0AifxVNjYcbq/iDCNup0n0JrWcPfDqrLswkVU8dxxQhFOWRJPpVXw7ihtYOSQIYqGPQQD9ZOnvSK/ON5r+WFabgTIwOaCY03mNySQP1pa5vVOsBKB8xAJOkTqAdc/QbiuM2JS6SdASB15c6fsPjGV1yszEmMpM5vTX9auMFxVbhCqjzqGkfARIIYzEyI0pKtYW54uYsFJH5TqB+gmDrTPwHEFW8MmQ8meuaJP2FL+HXYQoNFRye4/id/tOaLy3j5hBgev4xTDRRRXpKyqKSsbywWvXHFpWZ3zeIzTGrFSAT5SAxGgE+tOtFUvMJdEKnyMVY24WzIpBxvLN5GUqVYgQCrZWAkSNYlZj3rx/s/eChw1tmiAgcSBodzoen23mm3EWrd681u5bkIiMGzHXObgiB2yAz69Iro3CLJ/IPSCQBrOgBgayfcnvS48PZBnPrVwu3BGlZne5Rx99guQW1nVndYA7wpJP97VpPBOEph7C2VJYAeZjuxO5Pb27V0wa2lZxb+IABviOgHl1O4E9Kn1cwy2nKM7Tr30+tceuFuYUIHIYpJ43yyx0Fpb9uZA0kfIkD6VX8P5cuT5MMLM/FcYKIHsDJ0G0fStCvXVUSxgdzUCxxRXcLGh6k9fasp6wsW1pQtRHEcJ4sekSB5gUr8EKzH699oqkxfCsNfsrh7N1fEB8RG/iJXUnupXt/l7UgcSxl3BvkxCMh2Dflb/lbY1tCYdAZCqD3AHXei/ZVwVdQyncMAQfkafuPDmnYkRAjHIbUyzcfDTwxI9IrA7nEziGyoSxOgA1J9gNSad/wz5KxGEuvibzhTcQqLI3ElSC52kRtrE/KtAwuAtW/93aRJ/gQL+gqVXbaySwZBqbl2VIKEiAdar+N8PXEWXtMYnUN/CQZVvkRWG8a5A4ibsWxZdCZFwXkCkCTJBObYEmAdjvFfoBlkQdjUG9wuwRLW1ga67CJ1iYG5+p7mm1ICiCdqizePMoKEGAfeKzTF8ZFvPhMZbZDtmGoIPXXcdiJq74PibdxVtWbhuMBGk/MnTQetXnFsbg7wy3bKXwP40Uge2avXAOI4UHwbKLaJkhVUKGjeI0kDoddD2rCNjZuOwhzfQH7cvKtNdwstElog6nPy9+HUdYPpU3gHB0w1rw1MySxPcnt2A2FUvFeVrYuG4rFQxJKhM2sFjlMiJjrOpqBx3nFi5SwwVR+aJLa766AferrlHjjYhWW5GdIMjSQfTvP8qeU9bXK/gkTy5eR109dqo+DesJVcTE67nPMER+RXl1sNaFg2bsAgiUkzJ8x16bn0I7iueA5QsZxfyKHYTOQBhI9yAY0MVG4lzxbsXLlu5BKOBKTGXqNvjGxExqNelXHD+Y8PfstetvARSzTuoiZInbSrVWtu7Ep0xuMDaARI9RSyTdJb+IAeFR1jUn9/WunEeEBlHhwrKIE9eup9/1rxwfhTW2z3CJ6AaxO5mk3B/iI/jKrlDbBMwpDMsQpJLQG6kAenrWh4HE+IgfIyTsGyzHfysR96im1t1O/EA+YemOmlSfTdMICHBAV2PfOu9SaKKKepGiqrj/FVw9vNoXbyoO5/oNzVrWXc3YzxcQ+aYtsUUdguh+rA/btSl7c/AbkanA71oeG2guHoV/qMnr0/fQGM1e4HiTA+KWzOYB13GuhG0amO0mnIMInpvWM4bHPnAXYketajg75eyk9vN8jAFZHh90pjjDiuLEiTO8HnGo8h3pvxWy+EUnGZr4NGzjuf5n+dW1twQCNjVcWGldsC+pHTf8ArVnhrpbd4FHCjPnrPnp3jnWUsSJpaxuJa4cxJI6DoB0r2iwB9ftUriVtLb5J3GYDtrtXCzcUmJGgryd6l1Dy0vZVOTz6+m22lNtrRwCKsuHYpgwU6qftVsbgBAnUzA7xvVdgsNCi4PMSJUT0I6esVXvjnNw3AIK6Qeg1B033r1Vk85Z2qUvySTIGflRynTGcTIkCNqTdIKpTTLUbG41bYk6+g3rlw43SCbsCYyrEEb6n1PbpFZh+IdnH4i3aOFBZZbxlBXNmB0DAkSo1Ee0itoO8SQQCJ54Pv2YOKGmwvJwP7/VN1zne0GIm2ANyX/mBAqxxOMGJwlxrLCY/iBGkNGYGIK9fWvzvc4NxFzDW7/aPhH0kCtE5P4cbFi3YutDuW+Ftt3HUSwM+401EVBRKkkKGDjffFPoYb4gU4Izz0zpvj3E0X8RetfErDQEzrAMwT9/pS6eJ3TfQ2jFxjlQ7L5gVJOu0MdZp14Rw3FpeNy85YEFWXowneevfpExFe+McvWLbpfS2Axb4pOmhnyzlk94/nWQi3Q0C4ifl5/sfrrW2Llsf4oEqGoyMgyD5exWftjrlvOLqxlbKSWB1kaqRow9RIrTvw1wVyHvOCqsuVSdJ11I9NBrSpetyx08sfetN5PvtcwltnJY66ncgMwE/SPlV9ohCnu0n8fmoeLurTawD/sQDz57Y2z+ZrMeeeTnt37a2iTbu/nuPmOb8wJPm9faB0qsscIfD2bsYlRdBa2yAgjK6xM9QSfkYNaJzXcS9ihbuD93ZTM28sWg5e2wWPc1R8c4ZhHsXrloG3cIWddJG28jt7x6Va8ohRCTEev8AVLpW/wDCZCRJgdsghM7/APacc6SuX+E3cTft2V+JgCzDUKn5mPtEepI71+hbFkKqqNlAA9gIFZhyjjEtYXyEK7NJuJZUPoPLrBB3jzToSBTby3zCbtx7F0LnUZwy6B1kCY/iBImNNattX2yeGfmNJ3yLtxvidAHBr3OCrlGg160z0UUU/WPRSTzPwFvEZ0RmV9TlEkMd9BrqdZp2rhicQttczGB+voKVvLdt9uFmAMzy9avt31sr4ka1nnDOAsHzZGAHVgQo9STAp5t2EVUVWUkAgajzd4+c/eonFeL2xb1QMD0dgBpqAd+saV45ctJctreNgW3BIXU7agET6fqe5pC0tbVKlNpWVKI32GoiB2PkKvurp5+Fr0Fd7i6+Zfbyk6+kbmpVghVLkFRsARrv231MaVMdwBJ2rxbdXBiCNQf5imWLFtlYPFJ2mPZ99KVUskaUt8SfD3b3iHEBQBkIyndS5Ou20/2RRh7WCkvbeGIMsQ2umYyIAmFJ6bGmXwl/hH09v6D6CjwV/hX6CpueHWzilKWgEq1mfpnHlBqIWoYBqvt8SsooUv8ACoMhWIjLmnQdqhnEYXzO7g5mMEBtNehjeRVzcCKC5CqAJLQBAA3J9BXHBY6xeB8K5buAb5GDR01jar1MtqASoSBpOdo31wfrXM60YPGI3kDlmUQTlIkglSZiDqDtVBxzlZ3c3cNeNl2MuPyMdBMDY6a9zV3xfiFrDWjedfKsDyjWCRt+vyrtgsfavKHtOrqQD5TOh2kdPnUiEK+U7ev7q5l11n/IjQ40kHoQZB86Rv8AZviUHxMTaRQNWUkmNemQfrUq9wHB+Ey3bztd0PjsGBRgCQUEQo0Jgb9zFPBWdDqK8+Ev8I7bVwNJ3k9zNWrv3j/rCf8A8pCfqAD9aQWXiuHGTw0xC9G11HSdQQfcfOpHEOG4y7hzcuKqukFbNvWQPikz8XYAnb1078b/ABAs4e94WRnykhyOkdhrOumsbVKxfPWDt27dzMzi4CQqgFlywGDAkQQTB9jUDapUIJMd6uPiSpCg2gKBmQMn6wJ6AHlSJwvhuIxL5FtsgmHdlKhR1mQNY/LWtYHCratpaX4UAUfL+fWoPL/MWHxgY2WJKGGVhBG427aVcVy3tUsTGTVd7fruoBEAbDnzNZ/jbSF8QXuojm8xbMR8IEW/fSqfC8Ju41vDTMLAM3LxEBu+SfiMSBGg69q069gLTmXtIx7sgJ+pFQf8OIIUX3UwfKD0k7KSYgGAR6Uf8YTJNN/+7lKfkT82M7DEYEA9pOOtI3EuTL2DuO+EU3sM+vgT57f/ACyfOJ2G4nY6mrTljh9179q/4T21QPma4uQsGWAipvAbzTtppNMx4Vcmf2m7GunvPr0Jkew3qTgsG1sybrvv8R9v0g/U+ldNqguBdLDxF34Xw1AHESdYOPPoTp5Cp1FFFMVn0UscXum7eyflT9ev30+VM9KhWL91TuZI+ZJH61keMqIaSnYqz5AmPUVczqTVFiL/AO0Yjwh8FtgsdzAJPymP+qnrAkJb1MAbUgcv2SmKuq2/iu3yaHX7MB8qdbyy1pOjE/aSfsKzvDFKStSwJOB68P5NXugKgdP2a4Y/EMxf+HQLr6amOmprxwXE3MhyWyUViJ08xBMneTr2rzx5RazOIAyAZQNzLa/p96ncFJVLdvobYcek7j69acTxm54FqIInKY3JgZGk4iNgDiukD4PEBOn8/wB1Pw+IVxIO247e9Q+Icbw9gHxbyIVAJEy2ug8olj9Kn+EubNAzRExrHaa/N3N4Y4y8Df8AEXxC0gmZBIjXQAgk6AjoNK1StSEgGCef8c+n9V2ztE3CjrAj3Omn9axp/wCJXMqjCI+HxSrbuFlYoQcwgArsSDrrtHX0zfhXNOJwZK4c5ASpNvKpDGIOpU6xroQTpS3iAChEsFBMKG0EETGhB7V6vHM0gN8CzAJ0AVQTAiNjruDG9UKUVKBEzW40yhhktkJInUgTmdZxjA9wNcxPPlrFYDLctlrr+VgJCggSHU66T07gg6bofCf2rCMzWrrW1aNEkExMTNfeHXClm0ywIXtGsmdPevvGONMw17RQpQOTrWpaWDLLaSEgg5MnSdgNhgegJmm7ln8SbiXVt4k57bGM5jMvrI3HcHX9KaPxF5su4QJbsAZ3Utn0OUTAgdST6GsIRpYGtV545exFzB4W9bR7rLhkS4igls2QQYBlhqQR10mrmFkyDXnvG7ZpBS42ImcDTvG3Ws2xuIvXXZlV2MO7ALmgSS7kMJAEsTESR2g1xsYF9HzqrEf7pvKNBKqr6qCZEAgAbZtCam4XBXLLP49l7JuWGQI0qQXBUNkImBB8sLp6Cag3sJfuLcZLZZLY/eOo8qgz8Z+Ea6+8xIFNVgGmbk/ib4HGeJiEuWyinPbgKzZlMCDrGmaJ1JHvWy8t82YfGyLRIdZlGiYBgsIJBWetYLxjEPiL6tbt3C1xUXKjG4zMtq2kwAJJCqdjBnfo7fhlw27YuXsbfR0tpbITMmTMWIjICBppvt5oHWoqIAJO1dSCowNa1UYsqbocDyDOCOqEGPmCGB9gesVnz8WuNd8cNuR8u0eg/kas35tuZ83hoy5TKydt9/8ATvVVi8Aq3FZZ8BkV0ncTIyn/AJSImvP3tyLhAUyf9T27Hy05+tarVmplQ+MIB5Qe4p2s8yWCmYsZAErGs+ncetc+F8fN69kCgKQSN5EdztWc8QvEXVEwOn86c+SuHtm8UqVQAhZ6kkSR6R19anb3tw+6hB84G3M8qjc2zLQlJ1G+x5U5UUUVu1mUVU8W4aXIuJ8a9Ns3pVtXK/eCKWbYCTVNwyh5soXp9utdCikyKTOK4K8p8Y28pWASCDIM9tZU/wDypk4c63kt3NQVJOncgqQfTX7CvtjiSPcFqNfNM6/CRl+o8w9BUjB4a2mY2wBmMmDoTttsPlSFtZIbdK21SmIIOTIMgz0x2x5TLvEmN6W+dHIkkEW1t52f8ogkGT/6gfr2q54JZIRWb+BFX2AmY6SxOnYCvrcPvSxGJYAsSBkBgEkgfIGPkO2vfB4a4rEveLjWAVAjbqO2o9j6SWkWaUPKenJjyifffNTVcKLYb2Fe+IYY3LbIrtbJGjJuD3pC525I8bwvAVjdYgXbodVBy5fM6aSx1MiNZ7itIrhh76uMy6iSJ7wYMek9avWhKsHX9e896lb3bjBBT1xsZEZiCdiBMSAYrJbf4O3FIK4wfECSLZBEdQc0k79RObfQVXf7L4izi/AsWmzW2DeJbco9xJABzSQiweg3H5ita9ieHXGJy37iyZ01jU6DoBHz0ERqD4PDLun/AIm4NI0G+kE6k69R699qipkHTFXt+IuJnjAVIOuM8/liY/ms0wHIGL8LI1tVIzNmN0Ek+XywJGpkg9Z1ilviPKuKDEHD3ZHa0x+hAM/Ktw/w25GuIuE6egET2I3kzJ6L2JNsKibcRg083/6gfTIUkEeYj6msS5Q/Dm9duq+Jtm3ZUyQ2jN/lC7x3JjTb022KqeLcdtWCFaWY/lEaDue1TMDjkurmQz3HUe9DamkqLYI4qzry5euSHFiBtGg/vnvHIAVln4u4C4LwvZGNsoPMACMwJ8p00Ma77ZhtRyPyhdvcPxYZygxIQJHXw2LSQdMrHyR2Bjoa0zE2LxZstxMhAAUpMHSSe86iPX0rk2FxUiL6xpIyD0nWOuvtPzpikqyHljkzHftllzYa14To7O0KvlKyJAltiIE+u9bNxnA+NYuWpjMND2O4P1FeMHhr6tNy+HHYIF6H+cfQ99LGuKSFAg11KikhQ1FZanJ+NzhSqxPxZxl9+/2pyxGAAsrYNlriooAdSAZ6kA7f2Kv5jeqi/wAYglQsE/CZmfl0pAMW1oCT/wBXPOmYFNXN+6/AXty/uouEt27ROXCOGEgMZfqdAxkgRB7H5Ve2XLKpIIJAMHpptSbd5gxCxDK2U6jLlzCevb5EUxcH41bvyF0dRLLMwO4PUVbb3TC/kbx009KUKpOataKKKbooqDxS+USfXUEaEdj2B2noSJ0mp1UfN99kwzFWynvAI9QZ77bGorMJJrhpTTGwwW2T5mME7x6+uWB8xThyzfz2RoIGg69Bv0rMLOKMEZoPVtgJGsA/m1/70/ciH90YzRpGZYOgj+471k2SYePn+Kpb1qB+JXF7lpLdu2Y8Sc2pEjSBII03mlflXil5cdZUtAc5CogKRrpA3jQ+89jVp+LVs+JYYny5SBpOoMt9iKouRcDefidvOmVLIZ5O58rKsayZLAx0in+P/IQddvTNbqUJFpxCNDPqa2PFXFVGLGBG/wBqTl5n8E20UKbYCrAGsa5mme0GOutWHOGPKBEkQ4YajWY6HoYn70iTaKtnJUnRSD2mdOo2/lVym/8A7CdIGMk6Tj645T0osrRK2+JeZ2HnPv8AdadwnjlnElxaJJQwQRHsfaovNnFTh7aODvcWR1KjVgPU7fOs04RzFdw1xMoWC2UzroYj5Zopz5sxAu3bCAkZUF3aRLsFQ/JUf6g9Kg8FQUTnmOR9xVblsm3dCliUZPpt5mBv2OlTOWOP3rzst62EGhUjT4iYU+oA+pq447j/AALLOPi2Uep2/r8qqeEQ6ESQQ28RB0MbAfPXtNQ+ecQzWLJiM0sR6wB//Rql98oZWsbfk/ilhwPLCkpAB2GnPE52+lJq32uXCzSxOs7+n86beGO1oqy9IBHcdRS1gbelNWG1C7zvt7fKvIBxXHKcEb/mtEn5yDpp5U4o8gEdRNe64YIzbX2qs4ofFIW25XKGOZSQMxELtvGp+lezU+EtBw7gY5zyrH4fmipPFkxBVRh2tqc3mLgmBHQDcz7VTcjcyNixfS5kNyxcyFk+F1k5XHvBpV5m5jxDTauE2xEMi6ekMdyD9DUDk/i9vCYnNoEcBXHpJIYexP0Jq/4eeIHXrUyg8Oladxi+ACGMKNz6nYD6/eqW9lAW4qnynX5QT9v1q4x5GbNIg5SpnTsDO3WPpVU75igtiVJlwdoB1+f+leYvyVXCp8vKI/Z23FcQBrUPi0o50BQrO3QAtI6yKpOTMYDj1yOsMHUr3GXOMp6mVBiNg1WnEAc7XAVCMjBcxGVjMZSCPQ9OgFUHJGFYY3COFVQ5us4nbKlxRE67t9Ce1csSA8mOY9P6GDyihQxWvUUUV6mq6KTvxC4gqWRbBPimGAA/LMHMSDofQTInpTjWRc74vPjrkEzaWBkEssKpMgmMpzn6UreOltqRrU208SoNVOGwhBDFwFYEqQNWA06RB66gCCO9aPwnF5cJcyAC/bSWB1idQfaPNEmDSHhmCgZSF/dSTZGcnqc8nQ+vqabOSsvissLla3BRDKAQp1JMlj1GwrGs3l/HCdjj6GKsKEpPFFQ7vC7eJwpe85uFWI85zBSTAMHodCflS4t5rBtX7QCukSBtIkMD6Mv2pmt2hYu3rD6Wycjf8pMqx7aQJqgW3mZwU/8Auso0MMDqPnqB6+lTSVSmBChg75B18/vNeibjiVOUnI7Eae9oO9MvOd17uXpbIR7Z9IBn01JBHb3rNOIhjdIJ+cmtf5l4W/7PbCqHFoQy6yVCgSO8Rt1B7iDll60DLypXoSZgdpO/pNeqYAKYA7nH96b6elVeHrBa+QaYPf8AZGarLtt3y20GZmYKgHUkgAT7mtP4jgGtPZW62cjDoGbuytcLRtpLaehNcPw24HnjEuZVGItJ0DRBf6Ege5PamXm7AFgl1QTkJDhdyh3Om+UwfYtSzwBVOPKs/wAQd+IssjaR5yDHqAO5qr5exk3ntjOAoDHNHWB01JGUzM7DtX3nYHwMN6k/cA184ZeBtkyR03BknYKR66DT+dTuccORh7Q3ysBP/pP9KzLof/Hc7fzSVuICZ5+/uKUsGZNNeCXQUu4C1qPU008NsywHSvJNIK1wN8VpuGATUDnPmT9ksKqiWYd+8HXuIMkDuOk1lOL5ixRfObzz6k6TGw6CCNIFOP4r4U5lfeCRGvcEenwxWd3Mx1DdtI06zrqev2r0q/8AaDtjyGPrE01YtJQyFpyTk/qnPh+LPEbTWLpHjopNu7oNohT3k9OlJ9u1c8QqwIK+UjqDOoqXwS4VuqVMGfLHeTvpp71puE5O/aMU2IuQts5SQN2YABx6DMCJ3396utlHj4RprS9+hLRCxoduv81e8uYJ3wOHDnzqsa6gidJ+QH0rzxDhl4K7ZM8AhERo7HWY6jvV3iMArBRqoUQMsCBp6abdKi3OCWcsEuAJ1DETMbxvqBH+pll+xZeUVKGeY9x9KxOIjNJ3EOC3L/7vwmUsCLa6qFE+cu0aLOo6npvTFwLlGzhyryz3Ac0/CAcuTRR0idCTv7VYf4NbZVDZ4AIjORvOsCBOvSpODwK2ySpbURBMgAEkAaT1qLFi2znU9dvLSjimplFFFO1yisU5pk4vFHzHKbkhfKU1UAkxqCADE1tdIHO/LVx7v7TZQXBp4lsSCYgdNwQBp6dqSv21La+XMfoir7cgKzSzYJnJmIfw1tobQIViQdGIbtr7dKauTUPjkABQoMqJyofhhQdyY1P9hbwfD7xtibLlWYuERWlW6KW0IIJ6a+lPnKfCTZUs25CqoIghQJgiBqWJOuu01kWLC1PgkGBn0qx/APv37xXTj+AsuQXt3GJUg+HuQIIUjrqdPnrXjh/B7DOrC2y+DEBupPnDE7kifqPSr65cCgkkAASSdAANyaRb/PrpeIbCXFw/5bmUkso3YgRlEbDU6j2reUlpJlUAn60MC5dHC2SYGnf9/Wn6qFuFtbuM2HtYZc/xEqQWMaTHqST/AFNRebeZP2W2jICWaDAy6KfzNOyzuRJ0NUfDuZ7lq+3jXkuB1LZc8AQVEqDsuummv3pe4v27dYS4COsY69cb49apShUSP7pxVsVmErZCzrq0xpMHvv01gbTpzuXcSsljYCgCW8wjTWZOuu1WVm6HVWUyGAII6giRVbxllYBQQxDSyiCYgjb0mflTFw6Wm1LSJIGBzPKoNpClBJ9/j1o4fhcMx8W2LbEnUofLm6nLMBvWJ1qbxHBLetm22x69j0NJvDcKbF+9esf7soZDaLn3Gg32Og1131q65X46+IN23dti3dtEZgJghgSpE6g6EEenrSttetXA4DqRpmCMjB0M96eurZaSXEKKkiNdROxHQ47kaTVNiuE3UuLkay9sGCfEysDr0OnynvTNwfD5ZllLDoCDHTWPauN6/gvEKP4WfUGQOsyCdtyfqas7ODtoZVFBiJA6TMe0611nw+3bWFoGnpS7j7qkwreonFeFJeEMqtIgq2x7exHeknG8gWlcsEKqf/MUantMToOp71pNU/H+K4ewo8eDPwoBmZtCNF9iRO1WvW7SpWoxzzFDV26yIQrFLfAeRbNshwCR0zlWA3kgLIP1p3toEUAaAD+yaQ8L+JeEHkSzeyCTICnQkmYzSSTJHfemLAcwYfGWW/ZrgclJy6htRp5Trr3qLIZQD8Mye+TUHblbxlapqRc4qcniIjMs7KuZiNpgEfzrr+2jOoaBmIAE6ydjH9xSI3FQFgH7125cxOe4p6K2dj2VdSftWQx4w4spATkkDXGTsIqSm0zFaPRUA8Ws6+Y6b+U9yO3cH6GjC8UtXCAjZpMfCegnXTTTvXo6oqfRRRRRRVfxHC22Kly0qNMrEep29qsKWnxea7ck7MV+hy0h4heG1bCgMkx2wT7FWNt8ZNdsNw6y0ZvF2iGf1n8pidTr/mM7CLTB4FbeaCxmPiMxAgRp2pT5axbNcxNtvyXCAJ6dP603YS7KSemh+VFpdLcPC5rk+mtdcb4DFV/M18pZP8LMFc9kJhuvbT615xlyybJVoy5dZ7Rr9q78cxtq3h3uXhNsCSImfQf5ug9azTD8wYFrotvavrhy2ga8xQaEwVBMrOmWSvpVjzfxDIIyPcUzbsrcblKSQkzIjp126TrULnLg+LfD4fGWs1xBZ8N1WSQqu7IxG8ZWg9RAmkLg/DLmNvrasW87yJI1Cjux/KBX6W4jxGzhcObzFVtIoiNBrooAHcwKz4863XDO3iW0MR5YG/m1E/IaEjvVjv8AjTx5I6VawHLiQAMfk6eU/atA4bhxbw4sW3DNZti3M6hggiex2PzqDgMC6yzEZcohQPMGBYkk79voapeReYUe5csOSLrOXUsoUssCNInTpM9+sVH4f41x7t27edbwJlQ5Atx+VVmIH36zNZ3iDqG0NuvJM6QM6wd4+sTSymVJcUjlzFdcNzXfxBP7lPAJ0AnxInRp+ENGsR8+tMRwiYexeu2Qc7IXLEksxCyu/wClKGBxaYa0rBgzuxVbYEHRisxtl+Y7dKv+MYh7lgCwSjAT5h5lIKmQNiYzRHr2qm1uXPiuLeAmJTpxEa8yY3M5T2py4YWlASE8KZIMTBjBmeu+kzrFZ1cwHEShd8K8DXpmYDXQFpM+gnarnBc83LgVPEIKgAhR23k7lvSqXhi4u/jPDvFjChswaVIH5izCAqkDSJk9dKtuI4bBNjHuHPnuQTcVwBmELmCRoCRvJnXrVq7z5MfLy3keQ23222riyXEiIx0/unHhvM37m/cuAkWhKzGZp0VdNJLQB71nXE7l3FNmdm8S/d8JdNFQH97p0BysBr8IHUmmzmjAphuG+TzAtmuN08qXCBA6B1URUbhGAVbmGLEeRGGsayBJnuT+tUeIuuFSGp24ukwftEedZTxlWlJaYRcmKuZd2cAFSBCyqgd9oivPLea2LV22xDI0SO23zhuh/wAwiKtXSTikmEzMoOmmrA6eoAMneahcuw2GWYkK2nbU6a79NaRSsgETopPpGPP+KWnFO3F+WXxttcThiiO/+8RiQuYEhipAMag6R61N4T4eBt+FZi5cPx3TsT1CjsP7mveBxjWsE5E63MoPYG2hJ/6pHzqhxeJK22a3GYKSAwMEjUjTqRWi46ElJQAFqAJPU8uU7/ia17RrjRxr0961dtzHcU65SP8AlH8h6D7Uw8C4zbxE5Rlcbj07g9RrWWnHNcSR5T1E7d/Wu3JhYcRsQZktmg/+W8z32qy3uHQsBRkExmmX7ZsoKgIIE4rZKKKK2ayKKS+MWmtYhv4WOYfPf706VFx+CS6uVh7Ebj2pDxK0N0zwDUZHvz8jBq5lzgVJpJ4MhTG4k/ldLbj6FT91P1pgS27LbEwkl2H8X8A9vzfSuWEtBWIa1cIGklIzRJG0yP61Nwdk3AxOdBJGV1APQyD217dI6Ui1ZvpAKk7RAI6ST0MAdiamt0Tik38UXf8AY1yglRd1MExp3nT7zWVWsRmUA1+geKZDbfDvhrly2wgwuYNMSfkdfl7Up8M5FwiOt/8AZ8To0+E+oGmhiJIkE79R6VrNswgBWop2x8T/AOOjhIxnzmuXOmBvXuBWBHmQW2YRGgBAn6j51a/h6bdzB2/4l1cHeW1M95pnv4oGyC1i4Q5ysmWSo13A6SI07g0sYXgNhbjkWcTkdMvhmQqyZMFNYGogk76TNXKkgCkkOp4FJViTIjny2xB9Yqp5iwqDiOGWwIuhlMLoAIMyIjqPvVvztjAt+3ZtWpvMpdnkjyDSIUjMTB32j6duAcITCkOLWIuMQQGuwWUZoMwo1O866CrPiOAt31TENburctg5Quj7/DAkGT1+c0vctKcZKABJ55H1EUw3ctJuEqVJSBE5EmMSJmJ1A25xVG/Ci161fNsMqooAQGARJ23G8+9MnDcFKvnWA8AKd4EwT2Mk/avNrG+EuVbN99d8pk+usf2at7TSAYiRMdqUtLAoWl51UrjpAOhiADpiNNe9VP3inE8PLA10Ge2tZ3zZZawjLaVj4l0i43WAiFVzADSGJ7/FqTSGovi47kIylAqqDqAstI2nUmfQDtWxYq9n1Ni+pIAaFVgw6SCGBiT0kRFQVwesDDuNCZWyq7DVZYsJgAREGdJ1rlxYrU5xIiDGuIiNIGldS+gpHFrXnhmG/a+HtZbQvbBk7KxnIfaAreoPrSdxjH3LOIw6OuUksjK3fQqdvMJ295rUOG3vyLadBEkuI1/maruYOH2cVNm9h7jR8NwCIjUEOPbY9Y71O48PDqUwcpBE8wRGe1JvH4iioVkdjEBLt9c355Uf5W82+58xYanTTauPKyPcLWbalna4RA+Ut6CNe1Np5Gt+IHP7WQREZEOhI0Z46TEkdO+7ly3w3D4SLVjDXFDfFcYSSTE5mOu+mmmh0AqhrwxQPznl9KoDZOtTrfCAML4B1MGT/m3+k6e1ZLx4XLXiWwTnU6KYke3+tblVfxPhli6P3tm3c1HxoG6gdacfs0uEEYjHlsPL90/b3HwhEYrCuF4q5AFzfsupMk9Op9Na1Lkjlo2f/EXVi4whVO6g7k9mOmnQfb3heKYe0guW7VpAQDK2yDBBy7LPerXgvHVxDEKRpGwYaEEjeO1DNmlC+M69MCpvXZWngGn1NXdFFFO0nRUa9YYsrByANxG/z6VJoooqt/wkafvb3/7X1/8AdvNff8N6m5dmI/3jDt0BiYEf9zVjRRRVfb4dE/vbuu8ux7xEnT5V7/Y2mfFfed/5Tt6VNoooqFbwREfvHMaak7fXf13r6cIdvEfedz9JmplFFFcPCf8A4h/6RQLT/wDE/wDaK70UUV5Uad/WvVFFFFFFFFFFFFFFFFFFFFFFFc7qSImPX710ooopeu8vrAQW0KAACWI0HQiNvnUrhPB0sksqqp28pJkAGJnbc6Vb0UUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUV//2Q=='

In [173]:
carsList=user_search()
carsImgLst=[]
for image in carsList:
    carsImgLst.append(image.get_attribute("src"))

enter the imageNamecars

In [174]:
len(carsImgLst)

100

In [175]:
machineLrngList=user_search()
machineLrngImgList=[]
for image in machineLrngList:
    machineLrngImgList.append(image.get_attribute("src"))

enter the imageNameMachine Learning

In [176]:
len(machineLrngImgList)

100

In [177]:
machineLrngImgList[0]

'data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBQVFBcUFRUXFxcXGhobGBgaGxsaGxoXGx0YGhcbGhsbICwkGyIpIhsYJTYmKS4wMzMzGiU5PjkxPSwyMzABCwsLEA4QHRISHTIpIikyMjIyMjIyMjIyMjIwMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjQyMjIyMv/AABEIALQBGAMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAEBQIDBgABB//EAEcQAAIBAgQDBQQGBwUHBQEAAAECEQADBBIhMQVBURMiYXGBBjKRoRRCUrHR8CMzU2KCweEVQ3KS8SRzorKzwtIHFoOTo2P/xAAYAQADAQEAAAAAAAAAAAAAAAAAAQIDBP/EAB8RAQEBAQEBAQEBAQEBAAAAAAABEQIhEjFBYQNRcf/aAAwDAQACEQMRAD8A+Niva8rqontTFxhsT8ahVtpQc3gCfuqgKwl4Qc79IBknzn5evhVNy+QxymRJgkCY5cqHr2npYtfEMwgwfQVZhcNnnvAR156UNVuHQFgGMDmaIVXfQGgkFSB0M+PKo2sG7aAcp9KNu4JQmYHWPjAzT+etR4faXOJaZEwpgzvB1qvn1P14pGCuqTExqCwOnOdfQ0Ped8xDEyNDr00iiL95lc5XMcjM6R8xQzsSSTuTJ8zSpz/Vv0u5vmJPX4/ifjUVxLaazFVxRFmypG+s7eABNHo8VjEHw6elQYyZolsGZgEHQn4dKruWcoU9RNGUbFfaN1NWBnbXofDeqoqwDuzJ329N6MLXrO4AkcyR4nnXW78chUC5IjlUYpmsW5rOUc/mIqDPLTHp4V5Xq70sCQcSTygxpXWbnI6A+f3CrhBLaDY8x8tK8w1rNKgEmNgJPoOdGDYqxDzoNQNjVdt4MwDTxfZfFuoKYe5/EAnyYiqH4BirerWGP+VvkpJo+b/4NhY10H6o5/Op3gMug31++rGaJBtweciI8II0qxMuQtEfV66mSPz4UYACJJirgSdjlUbcvu3NeYcS0dZHxBAonD2C0ACSCZHODFSuTaGKE6HeJB6/jQ5FNrmGIKaRzPhz/r60MttYEgc+cGg7z8ga6iWtjMNNCOR/nVNwCTG1CdQrq6upG8r0GK8qS2ydgT5CkEysiRtzHT+lTw497/Cf5VMtkMpMEaz47g6USIKEgHRCOXd1Gh018DVSJtLq9ArhRRwTi2LkdwmN9Ry1HLY/CnILQ4WvYrq9p4Wm1zCv2eYsNFgCNYygnXpoR/rSq25BkfmdDT+7fT6MGg5mlA2UbhVDazz/ACKq4Nw9LlxACXhc7pAGoKjKCxgyT+ZrT59Zy5PSYLR/CRazN2sRkOX3vfkZZy8uvhUOK2Bbuuo0AJ7v2Z1ymCdRt6UHRmHuwxtizcugsTbVj3lCgBRyAI++BXX8JbzALcUDJmJknvge6IH5mpcDs2XdheYKuUkEnL35GUTB0J0PQEnlVqWLFy8v6QWrbtqvelB5xGvXYT0p4W+vLfDA2XK29vORIJ8RA0HqfwqrHYHIEMzmUNrpH5686ZNwu3nVbdwHuZ2Mhu8N1ERHXWN+tW8UsWrdm3EtccBieUED8YnwNTY15zGXZaMxFjKD0zCPIrmHyNDtvTPEd7DI43DhG8wpyn1WB/CaqRl1fSrJUSte11GHqMVZatgkSYHM1yrTPhOHXtFLrmUbrG+hgfGlIV6aX2T9ivpzll7tkTmuSZG0KoIEtofATz2P0yxwfB4O3kwllTcWGznVmZTmhnOpmCNNACaIwttcPh7eHtgJpmcrpLtq3zpTxplW3mbOAjIVCx+kc+4g9Y8onlROd9py54Y3Hzr2hYBSA0nQQdQSTtSu5iMMZ/TWiOZzrA9dqB+jNdIFwC40sQkFrasSSwS3IUCSR2jmSdACIo7+ziBJtrH+FVM+DqYU8tQATGoqvvFTiUh9o+EWHtF3ZAmkXJEAkgKQw03I+NYzHYBLNtsyhSAUkyczEOQdtDtr+7FfQMTwi2Eu3LYMlGLIELLdj3luWhu86EgTz5GcxxRbN+2rm2yog7wMqbbhdUPMwNT6c9jfr1PU+Xz+1bLGBvBPoASfkDTSzEC48qSSJiQSBqSJkHWlkkGRpV13ElkCmScxJJMzMf1+NZYv69NOIcUDoqCO6uXNAXT038zShsQRppp4CpYdkhs8zBy+dRcJIgn8k7/Kpxd73xUb/gvwqpjVqKk6k+lRuqo2MmaKUUmurjXVBuqaXGGxI8jFRrqoLhirn22/zH8aYcLxLlmGYnunRm0Oo3JOlKxRnDyRnI3CEj0K0+U9Tw4tKwcBri9mZGc20bK4E5GzLoeU7HfrC5uKuCVy2iP91bg/8FWYPjLozFgrLcXLcWAMyxBgx3W1Oo/pVHEMEFh0Oa285W5yN1YcmHMeRGhFXvniJPfQZaTNeioVNAd6UOw9HDF+iZz+sLZh30jsguumaS0xpFXcC4Q/a281zsluqxDqwByxtodySulaK3irf0ILoZttB0OU/R1DTzWWUgdTmrDYHFG3dS4oko6sAdiVIIB+FbZIxlt0V7QYbs7xXtDc0U5yZLaDxPw5Vy8Fu9mtwgBGRnBkahSqnQagyygT16VTxTFm9ca4UC5o7o20AHqdJJ6zVdnF3B3Q7AEFYnTK24g+nwFLPVe4aYn2XxFtzbOQsIgBvemdFmJiDPlQl3hF0EgKHIbJ3CH70ZoGXfQH/KelOW4Ji2uhbl3vllQM1xjujNOYTAAUg+dVYmzjO0CBy1x7jwVMMblubbS2h0G2uzdSafzEfVKl4Xe7M3cvcWZMrIylVaVmRBZeXMUOWNaU4LHfQ3Yx2IzZgQmbS53tYn3wefLynLinkOd1EimmCvZLJkZlZwrKeYyk78iNweRHpQmHxBQkgKZ+0qv8MwMU3XiH+zEm3aP6QCMgA90/ZiiQrQJ4Yr62ritP1HKo48IYgN/CT5Cq24PiB/c3fRGPzAqz6en7C1/+g+65Xq8Qt/sLfo1wf99PINoq3wy2iL2jOl0qxNtlI593cbGDW09huHI4JIXR094SIh/9fQVh7GOw8y1g7H3bjDUg5TqDsYPpTDgeLuu62bZOa4wUDlJ5nwAknwBpdQSvtGMgtpWb9o3IuYZRtmdv4wsL/wAxpriLN5QHzjI2iqdyBpm8P6Ut9o7LG0twTmtNm0EnL9YgDUxAYgakK0SYpZ4vfQ+BdcryYXtlRj//AC7y25PIaIB1kDXNB0dnF27dtbeRAXDZlEaWgpJLQdBOknqOtZXDXQYuW2CllEjulXUiBE911jSQYgAQdItVW909nbQmWVEVVc/vZdX/AMOk9az6426147yYPwDFjrMnL5y1oG58yT5k1g8Rig304d3Im0DcjtUYt1JyL8BWu47jjZw7m3rdYZUB97M577mBoYJPIeWlYJ2TDWMjqX7RoYCV7oB59ZZjH74FXJYjrqXQmE7V7aw1khgQQ0Bhrl70a6wPlUbNi8B7lg7jXKSOZ0Bgb0McbhC0mw4B3AfbpGlD4y/hmjJbuJrqM0gj1n4eO9GxElqzD2HYsws22HSR57g+FRxGEYGTYidobSfTaorcwsf3o0G0b8ydda9V7MfrbgPWNJE6/dAqFegMVayjVCp5EmhIplighXu3HdtO6Qd/yTQeIRVaFbMNNfQT86zsa81QRXV6a6pxTyvauNioNbiqxOxEUThLgXPPNCB5kj8KhbCxqDMjUdOYonDizpnkfHbXoPKnILQS0yQ2jYYF7guBgQu6MNh5MAWMny50fg8HhWUuxfKp7xE/WnJOnXpFFW8Lw6Fm5ckZs2+vvZfq7+7Wk5yM73tZgLWr4Kqf2fiZyyWSZYAkAgrl0PP40nVMPlaWfNk0kCO1kaCN1id4/kQrb1XMkqetsarhdqy9rGG2jJbCKe8/fBVWYAQuoLKZkx7vOKXcHxuEtPauPbd2XN2isFZGkELAkdefSk2aoFad/wATJ/6+r2mtMi3+xTsjaY+5bEIodjbjP4Exl9dzXzzjN2095mtDKhiFyhcukQANI8d+snUiJxC8FyC5cCQVy5mjKdxExB6Uys8Itm2tztgzG27tbWMylSoAOvRsx02VqN0vnDFOCX0cW+3AOdAChZu9kuNI2OYAMoHMtpQl7AXma2gcsWa4qZu4QysS05tiZB1POOVF4/gVu25S3ika33SzSIBMBZAbX3m8gD1obiHCysjtCQlwWxnhQAwL5hDMAJkmPtA89LiKO/snGDBtc7b9EA+a12h+q4Ru7sZaT00NZaK0djgdxhlF+2VFzJ3XLAyFJZREMNR5keFRxHs6UtpcFxTnt9pERABQEE/x7+BFMpSCKt7c9n2cCM2bxmIpzb9mrpLDNb7rqhIYMJbLqI3AzCfOof8At+4QsMpLJ2gGo7sqIzEBSe8DodII30owfRIBWiuYTAJcRlus6DKWVlbvEscwkAQAuXz12qVn2RvG4bZa2rDNu0g5VRtCAd86xVJ9nbgUtmT6wAknMyhi6iFgEZTvA6TTkK9H2GwXDrgOS27EQJXtCJ7xggdQOvLlBkzg74CzezoQlwI6w7HuscoYDNs0Zxy0YjmKTeyXC8Y3ftkWrJOZrjBTOUsncU6sZLDkJ51fieA2L12S+Kt3LlwL38OctxzGZkyADLOY9SFJilcVJf19AsYrtEUgkjWPKahisAt17TksDabMMpInqD1FB8HIW32ema1CXANIZQI0O0iGHgRTJrYZYbaQdyNQQRqNdwKVjSVl/bThIw9s4vDMba5wb1rQ2yG0LqjKQjZiJjTUnzy+C47cdibeZbaGXypbQohOha4qExqJyjYMYgGNX7R8bsviMNgzDo1+2bw0KkBhlRgdImCfIeNV4XBW7ePxWHC2uyvqHRRGqqLbOjADQHM0aR73lWfs6yLuZrP3buJNy41xrfZdqttrikG3aYhWLTAkDMATG5HQSuTjVuHQu0ahCbaPI2zEtrJ36axoIjS4LCdlh8ZbUG7lusiq0M7nIh70bwTE8pNJcZcdVS1ctYZQZZToAjAhir+h93nmqpKz6sKcXxJVyrbW26gGc1tQZO+o/O9KsfizcyyltMojuKFnbeN9q1mGxLW8O1w28K65iSCO8YYJ3FiI8vPesbiXBYlRAJMCZgchPOl3JD4u0Oy16qk6DU17BOgo1gLQgfrDufseA/e6nltWWNdeWEVGCzFyRruBrqoI5+PpS5qvse+vmPvqkipqohXVIpXVKhS3qg7yaomvRNVqPkzw4tlTm35VwWzIzZ4nWImNP60JZugAggmdj0q5b6CJQ6Gd+Wmh08D8auWYzvN054ZYwxADNdyk98CIMZYG/LvfKjrXBrLK2UXCRBkDYd2TG2ne59KW8N4hYUjNbaOcN/h+WjfGnvDPaS3aLQrZXXK3e1O/lpt8Kq/jT/lmlPEOH4ZbIKFzdnUEd3LLeG8Rz+PLNssVteE4uwbk3SuSDIYEgmNB3QSJ68qq4omAuXZXtFTJ/dqPezNEi4RrlyAkbkHzonOl/wBO5LjHTU1FanHcIwgs27ltro1fMHUBnAy5AgBI3zS2w8ToaMViStm21u2iKWuCCiOYGSJdlLMfE9dIGlVOWX3Kz4rwz40xPFb37nP+7t84J+p4VdhsdibjZVykwxPctgBfeYk5YAEb8qD0oWfGjcDZe6621OrEAAmBJgenKnjY1Xs37fduFEDG7lVZY3LXuDKCoEt4meQ0CzgaTetDLnl1GWYzajSeU7Uew+ZOr6aL7NYlHy5YYaghhyBeQQegJq9vZPGiQF3GsOuomROuuwNbDDcOsMWHYut2YVM4I211kbSpoXiAS1ZNxsM+UfW7Ux3iCNA3jFVz0P8ApxJHz66r2rhQkq6HkdmHQivBiHiAzQRESdpDR8QD5iiuNYm1duZ7VtkBGoZixLSdZPhA9KpuYK4mXNbZc4DJIIzKdis7jxFaOS4imLuDa4432Y8xB+WlXcPe+7rZtO2a6wTKCYYsY7w5jU/Oh3QgkMCCNwdCPOtZ/wCn/DwblzENoLSlU03uuI08lzeWYGlbh8za2+PSzaOGwqXCqoAgPVkR/HUliG15g+FCX+MpbzLbYNlcJc1JAcjmdi8DkPAchS3juFa53xca2UPZoAQA9xyuZWJHughdRqMrilSYXsRZwzWgVkXCVYkvd90HSBpqOe46Qc/x1Zb+Ck9pLeGxN63ecmGB7QKTnbIgkgagmBGg000ihcV7VPdGa2QtoEi4xOV1XXLoDpPIiTPQ6VnONYW5fv3HtI9zOw2U6EgALoNxETziac+z/sdduW7iXbT2iSRnYiBEZTlBJYTOwgyIOmp9JvNgPgmLuXUOZQLaOmQhROc3BME66ZjrzkTJ1r6fhrVtuzLW1ZiD3igMDoSdRSLhnsXct2ltrckq4aWQoG72YwASR016VqLNh0AzLt0mjw8VY/DALKKANZgACf618+49hVW5m7FbguKQzFgpSIGhbQff91fRPpuYshQgADvGAD1jX8BWR49bt3ELZFuAEko+ZRnWZDRDKac/MLqMxg8A65i2Dtsshfe0WJJaXDE7xO3d2O9ZvjWBNu8y5CgOoWQYB10I0ImR6VqrmEw15VZExFgom4d2tm5yCC5mffoQKTpcuYa4xuqbgKNbVmkrDCQVJ85jxpWbC95qheE3LdtmCP2kA+6e6p0MH7eo8hPPYFOGXDqUb4GrsTjDyJ+NQt8RcD3j8TS8PbilcGwcaREEzpzFD21FXXsc5YZmYjmMx1HMUI76mNp05VnbGnMtiy9FdQ7tXVGrxGrsI5VxC5pkR1qgGp23KkMNxSiqYXL6ldUII5gAdYkxzkT5V7fx8kkouoOhAMEkyRoNeXpVZ4ixUhlBn4bgnTzFRPELhnUDMoU6DVRoBr4Ves8FY1XYrFoplQAwPejUsYG+omgyzATBjrW34diboA7rOpRYhEA7wBtzNzqSOUnSTFI+LXM9hCFIth2ydwKoZtWEhyfSOWnOtLz4z57ykoumisNfim+Lt8PDW4a4U7MZ+zALdrpq3aQNdZA0ECr8KOF5Lut/N2bdnnCx2mmSMh69dInnFORPd2LOM8dvJeuIrwqkBRA0AAAGorzEcdu9jaOcSWuT3F5ZI1Ig+lJ/aNv9pu/4v5CoYhv9ntf4rnOf2f1eXnz9KpPyMbj177S//Xb/APGrcZjHuYOWIntQJVVWRkmDlAnWkImm2U/Q/wD5v+ygvxTwlf0eI/3Y/wCraoS05UzR/C1PZ4jT+7H/AFbVDJg3ZDcCMUUgM4BygnYE7AmjPDnWXT7PbGEF1L7/AEjPle3BgJGjZueoFK7N+5ddbZuEB2UEsTlEkAE+Ao7gL27Oe5iLJuW3RkQElQXMQQecRXnDr2F7K+rW3N5l/QsG0Uic8iBuvn6UTnD6/wCt6mCMP7M58U2GTE2Gyyc+aFYAZjB5nlQuJ9osSbltu0P6HKtsaEKqGVHj60jsFs4iZkbdeVaPFWeHNi0Rb1xbDZe0coCVaO9ljlPgfWnqLz6941gcTdyYxlzDFEkERqynK3dG2tGLZxmEtFUfIyM73EIQgtopWW5gJOkb70twdrtcfbsBi1pbsKDt2aSx05Sq6+dfSsXwm1ctlzbXtO8Q31iYME9fWost/GnEk9rB43iT4p7VlSAVBza5ULxmLa7HUzJOvrTnD4pMPZuYe4ct14IcZjkEc/PbSayftBw04e6P0iXC6i4QkDIST3GA91hG3iKDW5cuMAJd3IAG5ZmMAa8yTRZa24/6SePpnsVhGv3bly28oFVX01zwAW15tHPeTO1fQLeCa2pFsIpOskZiT4kR8qU8MOF4dhkshrdswDcdmAz3IGdiTGY/cABtR2Hu2r4F23cznkyPIBjaVMelZW2//DuFuO4ziLBLX7Ge0N7tly7KObPaZQwA/cLUct9LtsXbLh1IkQZVl6j8+dW3MxtntCCwOhAAldIJA0mZ2rGcPvfQ8YbSmLOIDOifVS6kG4F6B1OaOoNVJU2m2IcfnpsaS8UsNkBOukAncgSFJjwj1BpnjrgFxgNjr+flSTHklgZMARHKt4xpa4Man4Co4lrYVUzBs4IdCAQPs6cuY8o6VNjS7FL3pET46DnpNOiMpxzBdk+nuNqvh1FLAa2+Ow6Xe7mtiAdXMAGI06tz9KETA2lFxosEnVQbhOWeQEaxPPpWV598V9yeMg9eU0bhR/aWtRPv+EwehoHFYfIQMytInumY8Kx6lbc9ShzXV4a6oaOijbOCDKDnAJ3HjJH59aEIo2xhQQpDwenOZgRr0/IqpE9VJeH94gsBrAY7bkEnoBHzFT+gLyuKPe94gTlgadf6VMYD3szxBMExrHhO5P3VK9w9FYK1wDRpPKQRsPiP4TWnyy+v9PuEMwRSuLAZQNHIyjuIVEZpOUmOeo93eq+MYC5FwXL4yW1V0UhVDsRqqANGYTJidydzBH4fwaxdFuL0OwEoIJzRJ5iPu03mq7vD0yjtMTr2gAE5v0bRNzf0I/Cr/jP+kc1yHWtTw7g2CuKVbEZWFxlBj3khcjBTvrIga96dlrzH+zVu32rdsMttQy7MS2ilGjZsxA8QGPKKPT+ohxXh037l26SlvNpze4REqg5+LHQeehEbjdwALbVbdtZyplVonclmEsx0k/ICBUX9pMS0ZnVoAALJbJgaASVmmvAr+IxJuAXVTs7Zf9WhzRHdEAd4zoOdNN3+lQ47if2hHkqj7hTrBY7F3MN3brAi73nJyqiZNSx5D+gEkxSf+3sT+0+Cr+FV4rit+4uR7jFZnLMCesDSaciae4m/evYa4LdwtZtEdq7sczt9U5T7qk6KvUa8oSYbjN9LT2EdltuwZ1HNhsZ36fCh7eMdbb2lMJcKl9NTlnKCempMdfKqVSqGNPhWxeOw/YL30wqtcA7oIQ+9rux2j1qjhGCv2AMd2c27LjVhKl/qqRvGo1/nSe1dZZysRIgwSJHQ9RTfgQN9hhXvi1aeSxYnIGUEhiJidInxoRUuGcdPb3WNi0zYgMkZB3Gc+8gGxB2pXe4PfW6bJtP2gOqZTm2nby1o/hPCs3b3RdQDDDMJbKX1IXJ11A+Iqu37R4pbxxAvN2mveJk6jKdDptSh761Hsu9m7eQpZCPhrBW5czE57jRbBjloX+Fbf+6/PjWO9gsPlw1y8fevXInqlsf+Tt8K16H9GfOm0kyPlnG+HKt68964QWzNbAGYuw0E/ZEgjXpVfsdYLY20RshLnyAMfMijfanEtbxF0OgdHXuZhojFQCyHkR021rS/+nfCuwtNjLg791YsoeVvWXPny8BPOi3EyW0Nxp8zNccydT1IAJgKOR8tfiZDwXEblpUdbGLsXcwHaPbi0QxAQMdyDIBB+/WnGP4cGcuDvoQdiJJ9DqdaUYxCrBGN0n6qkHL4Np3TE7z61PUaStthuLtctq22Yar0I0YehBFZTj2OH0vCIPf7Qt5LlcH/AJhRn01cPYLuYy5mPmzEx8TWf4HcOKvti2TIiLlSd2OpZjSv8gn/AK0uOYsywYysCduQiJieZ2I8ZofEt+fwq8pMHnz+Z/AUJfNaSICuOUb/ACjeaV4sgQT5nrA5D4fOmN1+fTb8/nelmIYHMJAPZvAO50ggeME+k0qFuDxKNqjZVYHu9kbhEELObxjl4UNibv6MjP77x+ogQJAO2utA8P43bt21QveBCkQpAQEsSNNzpVNrjqme0e+3eJWHAgbj1nXpoKn6hfPV9EYu8qb3MuYka2MoIDEzr6aUi4h2bFnFwsxO2XLP5FUYzFvcPeZiBOUEkwOgmhqy661vxziLCurmr2s8a66icNZRhJfKZPw0j+dDE1EmmP05t8Ph4mRHkZjSQD4g1bjsBbzCGFsEH3jO2UjnvDfKk+HvlDI10Ig9CIq7FYt7hGbfU+ZYyT+elV9TGfzdO+H8IsXAkXodhqggnNEkb6fcI3qq9wm0iEvfUNnAUCGm2fr6GfCPHwNJnssrFWBVhuDoR5imFrgWIcSLba7TCk+QYgn0qpf8TZ/pvwjhuCuJFy+VfOwBAILJCZDlM/WzCN9Z5VPH+z1lO2PbgrbTMoBDnPoDbaIg5mEabK3SkH9mXhc7M23D/ZynN8N6Pt8Eu7dwt9kXLZbyyhpnwiqkZ9ef0oFs034Dw+3duZLl1bSgElm5xHdGu5r3DcIuut1gkCyJuBu6V35HyNT4CZdl7E3iUYBASIJ2cwOXp51UmJ66thpjuCYRASuJBGmndJXvKDIBltCToPq8tq9wfCcGyZnxQB1AEQTDEAwfdGUDQ66+hIx1u4xVPoCqVDrMnJ3zKnMIHd1AJJ39KsRnvsyrgbYZ0bvNpEjLnmANCenruapDMcVw9u3cK2rnaJAhtt9x6ULNM7vs7iVVna2VVNWJIEb9TrsaUk0qqJk02u4rD/RUtpbZb+cm5cnusn1VA5Rp8OfIrgPCL36z6P2qEKRJWD3kc79VBHrTbiWYOgXABIK5gArE5mBUAqIBORl1nQmnCtYuKg4rY2cC7Kt63hLYRcjEs4JItgrclT9o7iN6Ol7t1sO2EtIQpRtRsWtSykLqVEHTkfi0w84RhuywuHtxBW2GYfvvLv8ANvlTZD+jPnQN2+GuEA+ngNKLH6sDqaTdkcZwb6TjxnnsbaI9zodWAQeLZdfAHwrTYnEFj0A0AGwA2AHKrL4CKFG/1vE/02pc70BY71B2AU5oPUcqivXnSTjOIzHswTr0Eg+DGRHnr5UwCxeCTEXAzE9muyAwpPVutPcKgACqAFUDQbeA/n5edI8DbAaHkdMoz6+sD7/KtBYNuIDN/lH/AJUpn6F6aCl+JbU0wlAIknw0H8zQ15U3iPNtPkBVJJ7ppLxHtBLh7iIsBimaWJmAQCBETqevOtDiMwPdyLpy3nlqxLL56VjcZiXys4Zg3atqCZ90Deo7OA8tgmAt3zlT8o/nVg4QxupbBjOMwLAggd6c4E5fdPprQzcRvftH/wAzfjTHCYeTYe4pa2VcGJJJUuSO7qNxr98Gs/LV3YG41wR8P7zo4zFZQzykHyIn4UprQ8TOFzki3dUMQUBJ90g7FtxMDxpPxB7ZebYIWNj11/pUdTKvm7Ajmvaia6oaOr0CvBXtSpwq2zcysGABggwdtDOtVgVIVURW49nMKbrfSbgBYwFMAe7AzdJ2E+HUgje4bBns+0JMEwZMydjI59PGADoJrF+y2LU2LagmVLA+eafuYfGOemrXHHIRm0AmI5DTb08tIPdEnon4y8/pF7RcTFy59EH1kgXNc2du8qzuUOgIPNp5CvnTOQa2WPsI2L7c3ky6XJXO6wkZu/GveBUbkyOtZPG4Rk78q6MYDoZWd4PNT4EA0ran5mm2H4rdbDXEzkMoWToS9onIVYnXulwB4Mw2gUt4bjL1ti1lmViMsruQYkfIVLCDJZuOdO0Atr4nMrufIBVH8Yo/2XuXlLm0guQUYpmKk5W7sQROv3+dGlmaGucaxWbM124DGmpAjy2ioYTiGIBi3cuydIVmmN40NMsemIxtxGNtUY2zk+qHVJkg7E7jkIA8KL4P9Lsvat9lbWDcVTcG5IbOHK66a+A56TTTcwhbiF6CDcuQ05hmaDOhkTrvQRatF7Y4+6XWzdW2rW9SbexzAR46D5lutZoNRarmeabYXjuJtqES66qNgDtUb3GsQ/vXbh2+sd1nKfSTVXB8ctm6lxrYuBTJQ7HQxOh8/SjcbxG0VCW7a5SQ7Fl7+b6yBlI7nzqoiz/FZv4i3aRu0YW7mcBQ5ju+8CoOnves019jXuXcahZ2bRmckklgqnKCTv3sm/QV2Le3bRVuC2TlzpbC3SBnSQTnfukkKIjaDtR3sTxdFLviHVLVm3lBiDNxhsRqTCGKdpczb+NeLIBJkE6z4TrFHJeAQEawSOY15kTuKTf+6sAzJbtG4MzAAvbZQxO2sfhRePxOsDb8zSl+vxpZinEXpNVKOv8ApUB158qoxGJyjXfnVpWX8TAPXl5daR3PeO0nx1jrXNiQx1LAzygz6affXO6n60en9aQE2aKVgomh8OFjcn4feCfuou3A2A+/+nyphBEd9Scq/CfLmauKj4c+f9K43J1quKAVcdxvYWCcwZ7shVU6INfDoRPjPhWRsWWezCqT3zPgMo1PSm3tBxm2RdshCW0QPIgBWVmAHmD8tuaDDY3KpRlzISGiSIIESCPPnNY9dTV/Nxd/ZdwyRkMb9+3py171EC9dwz2nXusqNodoZrgPmCD86qw/FltiERxzgvp/wqD86jiMa94yQWIEACTCjXz60rZ/Bl/qjinE7l7L2hBy5o0j3jJpeaKOFuMYCMSeUGqLlll94ET10rLrW3OYrIrq411QpyrR2HsjJOQHXctHTrQc1cuIULBQE9Z/CnMK7TBbIM922srIlusbeND4AjNJ7PQ/X22PLmP6VSMWI9xdulS/tAyGCICBG3mP51Wp+aJwPF3tOzADKxlkGinfbpuR5EgyDT7ivG7dy0oz3EFwElQoYlQ0QWzCZK6k75RWNmj7i57KMN7cqw6KWLI3lLMPQdarnq5g65myjBxdQhshJtEyQWOctp3swELsNII01BIBojhN/D5+zCXCLsIVZlyyT3CcqyYaNRB361nqZcLXITebQW5y/vXI7gHWDDHwHiKcttTeZgfF4tnImAFEKqiFUbwB8+pOpmvcJxC7bBFu4yAkE5SRJEwdPM/Ghprwmlp4MscSu2zmV2BjLvoVJzFSNipOsbGu/tK9nL9o4YliWDEGWnNt1kz50FNeiltGRfduO5LsWY82JJPQST6VXTPCuBhLolpNy1oIynS5vpM6aQRud6WVcSlRicOum2LoQlC2QEQZfkANz8KCBqwXDESY6VUK6eY7h165btuUvPc76vnDGFXL2cSNBq3M7U19icIbV5Ll1Fe2Ua5bVoYZ07iMV8O0YweYB5Uox+MRLS27eQ9oiG6RmJFxSxgFtjBExpI0q32Rxtq29ztWy50ARuU5hIJ5dfQ+FOyanm1ssdxNrrG4y29G00hhBgkRoIjarw8679PGg72FQAySAJJEwPMill3ibW8zL3lULJ94d7RTpsT122rTyF+nwzE5UGZvPb1O1RxmBNu3LwSfeIMgdRJA232pfwTj7TBtAhpkg6jQkT129PjV3H+MBrNwgbKB8WA+4mlv9GMVj+IsXIUwAfWuw2Mf9pcHgXLD1VpU+opdznTyJiatLneAPIz/ADrD69bTnxo8JimLAEAE810B6GOXQjbURGw0K1kuFPme3/iHy1/lWpVo51tz+Muv1czULjcWLdt7n2VYjzGw+NQOKExI8pk0k9pMX3MgjY89Z8qduQpGa4dla8naQVLjOTsQT3p+dNOJjBgxbzsMncIgd+WkvOvSOcRSjAXQtxHOyspPkCKY47iNtictoAFAqggd0hiSRpv5RuawmY0surMbicKFuC2rB2zifqkFlKhY2GhOw3jWlvCMSyPAuNbDaMV3jp8YruIXHuu1zIRsCN4gAUGvdYTyOvpU3r1c58w9v49UuvNy44ykDvHoI1BE/wClI2vFveJPmZom/kdyZgR5cvxoE0uuqfPMeua9qFdUNHE1O3bLTHIE+g3quifpJ7MWwI1kmd99Pn8hRCqq3aZjABJ1MeWp+41Y+GYRpJImADI1jURU7N9iyjTQEbRoQZmNdiatYEEvmMsfsDWdRAJ8Kotqm3hiVLE5QBIn6xkCB+eVeYfEMhzKYO3mDuCDoR4Gixh8yAksVAJBhQQAW0OpPI+FLTS/BPTkXUNs3Datk5o0DxIgktDgLvpA1g1Rme7JZgFQaDQKszACjQSefqaXBqLwkQ3dLGNOgGsz4xt41U61F5wUOFGcvaIGjUExBOo8xBBJ5elTtcJUrLXra+s9N+m/yNRIWP1JPjOnXlvoflXoZhAFtYA2JmCd/UiKrxPofF4RUVClwXCwJYL9WI3+fwoQUwvYgqhGVFL/AGRrl569PxpbNTVzcMbLfoLg/ft/ddoKatR/0bDqyfIP+NDzVamROauw9lnMKPEnYAcySdAPE1G3b+sxhfmfIc6lcxJIyqMq9Op6seZ/IiiUWGWHwNo23uPcIyuqCAYbNBJEidAHJ0+z1ovBYXAS/a3nygrkgEFhHeMZD4xtt4zWdmrrWFdhmERr8on7/vq/pPz/AKe4biahRbDXLjEXlKMSyGUItBZ196Dyom3gLaLlJSRbVocw6OWg5e9DT4ZgAT7u9Z/h1hu0UmQB3t4JG3dPXpTzEY9GOfMuwUQsvMkERso72s9NDvTl39KzPwwxFzQZFmABlXcb6EtEnnpO/mAJj3nDM32sh3nSeYjSkGMvOzM2YKNe6pgASQBA39aK4Gc9u6hMzl38jl+YFH1twfP9KmEmK8Ig17dQqSDXtmy1w6DTmfw8fCsP61/h57PTJfoDHmdPuDfGtAMR3TSnCW+zQLz3Pn+YFWm5XRz5MY9e1K5iD9on0AFJeK3O6ZAM6eXj/L1o+49L+IJKHyn4Uur4rmFuDv5Z7uaeVTxOMLGcoBIIM+dCWTqKtvvrrBmsd8afPoq7jnA2A5DypezS09TV2JmBrVCMNZqbTk8WFgG2qg1YLmsgV5eefKkauurq6hTqL7Ui0sR7wPr3q6uohVFLxObxGvy/E13aFtz8NNevnXV1Bf0VYt5lykmPCPw8TS6urqdKPKIwZOokxr8gSPnXV1EO/gtQWIBZiIPPwr1cMJ5676+f4CurqpFRNhenT769e2sbD8xXV1MKsSdDoBtt/FVeHQQT0rq6katnJOtRFdXUGnU1vsO6CY6V1dQSKuep6elQZyd66uoD2abez+7/AMP/AHV1dT5/Sv4vKA70Rb7u34/fXV1aRnVwNdXV1USl6ouV1dU1UILygMQNpNeRrXV1Ytl1tASJqrEoBt0rq6lSn6qryurqS3V1dXUB/9k='

### search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Display Resolution”, “Processor”, “Processor Cores”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is

In [107]:
driver.get("https://www.flipkart.com/")
try:
    buttonClose=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    buttonClose.click()

except:
    pass

In [108]:
userSearch=input("enter the mobileName")

enter the mobileNamepixel 4A

In [109]:
search_Prods=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_Prods.send_keys(userSearch)
search_btn=driver.find_element_by_xpath("//button[@type='submit']")
search_btn.click()

In [110]:
driver1=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

In [111]:
def getProductFlipkartDetails(prod):
    try:
        name="_"
        brandName="_"
        color="_"
        nameCon=prod.find_element_by_xpath(".//div[@class='_4rR01T']")
        name=nameCon.text
        brandName=name.split()[0]
        color=name.split('(')[1].split(',')[0]
    except:
        name="_"
        brandName="_"
        color="_"
    try:
        price="_"
        price=prod.find_element_by_xpath(".//div[@class='_30jeq3 _1_WHN1']")
        price=price.text
    except:
        price="_"
    try:
        listContainers=prod.find_elements_by_class_name('rgWa7D')
        RAM='_'
        ROM='_'
        Front='_'
        Rear='_'
        battery='_'
        for li in listContainers:
            x=li.text
            if 'RAM' in x:
                ramlist=x.split("|")
                for y in ramlist:
                    if 'RAM' in y:
                        RAM=y.strip()
                    else:
                        ROM=y.strip()
            elif('Camera' in x):
                cameraList=x.split("|")
                for y in cameraList:
                    if 'Front' in y:
                        Front=y.strip()
                    else:
                        Rear=y.strip()
            elif('Battery' in x):
                battery=x            
        
    except:
        RAM='_'
        ROM='_'
        Front='_'
        Rear='_'
        battery='_'
    try:
        prodURL=prod.get_attribute("href")
    except:
        prodURL="_"
    try:
        #display features
        driver1.get(prodURL)
  
        containers=driver1.find_elements_by_xpath(".//div[@class='_3k-BhJ']")
        containers
        try:
            morebutton=driver1.find_element_by_xpath(".//button[@class='_2KpZ6l _1FH0tX']")
            morebutton.click()
        except:
            pass
        displaySize="_"
        Resolution="_"
        processor='_'
        processorCores='_'
        for container in containers:
            containerTxt=container.find_element_by_xpath(".//div[@class='flxcaE']")
            if containerTxt.text=="Display Features":
                rows=container.find_elements_by_xpath(".//tr[@class='_1s_Smc row']")
                for row in rows:
                    x=row.text
                    if 'Display Size' in x:
                        displaySize=x.split("\n")[-1]
                    elif('Resolution' in x):
                        Resolution=x.split("\n")[-1]
            elif containerTxt.text=="Os & Processor Features":
                rows=container.find_elements_by_xpath(".//tr[@class='_1s_Smc row']")
                for row in rows:
                    x=row.text
                    if 'Processor Type' in x:
                        processor=x.split("\n")[-1]
                    elif('Processor Core' in x):
                        processorCores=x.split("\n")[-1]
    except:
        displaySize='_'
        Resolution="_"
        processor="_"
        processorCores="_"
    return(name,brandName,color,RAM,ROM,Front,Rear,prodURL,displaySize,Resolution,processor,processorCores,battery,price)

In [113]:
brandNames=[]
nameLst=[]
colorList=[]
RAMLst=[]
ROMLst=[]
FrontLst=[]
RearLst=[]
ProdURLlst=[]
displaySizeLst=[]
resolutionLst=[]
processorLst=[]
processorCoreLst=[]
batteryLst=[]
priceList=[]

driver.implicitly_wait(3)
prodParentTags=driver.find_elements_by_xpath("*//a[@class='_1fQZEK']")


for prodTag in prodParentTags:
    (name,brandName,color,RAM,ROM,Front,Rear,prodURL,displaySize,Resolution,processor,processorCores,battery,price)=getProductFlipkartDetails(prodTag)
    brandNames.append(brandName)
    nameLst.append(name)
    colorList.append(color)
    RAMLst.append(RAM)
    ROMLst.append(ROM)
    FrontLst.append(Front)
    RearLst.append(Rear)
    ProdURLlst.append(prodURL)
    displaySizeLst.append(displaySize)
    resolutionLst.append(Resolution)
    processorLst.append(processor)
    processorCoreLst.append(processorCores)
    batteryLst.append(battery)    
    priceList.append(price)

In [114]:
prodsDf=pd.DataFrame({})
prodsDf['BrandName']=brandNames
prodsDf['name']=nameLst
prodsDf['color']=colorList
prodsDf['RAM']=RAMLst
prodsDf['ROM']=ROMLst
prodsDf['Front']=FrontLst
prodsDf['Rear']=RearLst
prodsDf['ProdURL']=ProdURLlst


prodsDf['displaySizeLst']=displaySizeLst
prodsDf['resolutionLst']=resolutionLst
prodsDf['processorLst']=processorLst
prodsDf['processorCoreLst']=processorCoreLst
prodsDf['batteryLst']=batteryLst
prodsDf['priceList']=priceList




prodsDf['index']=list(range(1,len(nameLst)+1))
prodsDf.set_index('index',inplace=True)
prodsDf

,BrandName,name,color,RAM,ROM,Front,Rear,ProdURL,displaySizeLst,resolutionLst,processorLst,processorCoreLst,batteryLst,priceList
index,,,,,,,,,,,,,,
1,Google,"Google Pixel 4a (Just Black, 128 GB)",Just Black,6 GB RAM,128 GB ROM,8MP Front Camera,12.2MP Rear Camera,https://www.flipkart.com/google-pixel-4a-just-...,14.76 cm (5.81 inch),Full HD+,Qualcomm Snapdragon 730G,Octa Core,3140 mAh Battery,"₹25,999"
2,REDMI,"REDMI 9 Power (Electric Green, 64 GB)",Electric Green,4 GB RAM,64 GB ROM,8MP Front Camera,48MP + 8MP + 2MP + 2MP,https://www.flipkart.com/redmi-9-power-electri...,16.59 cm (6.53 inch),Full HD+,Qualcomm Snapdragon 662,Octa Core,6000 mAh Battery,"₹10,999"
3,REDMI,"REDMI 9 Power (Mighty Black, 64 GB)",Mighty Black,4 GB RAM,64 GB ROM,8MP Front Camera,48MP + 8MP + 2MP + 2MP,https://www.flipkart.com/redmi-9-power-mighty-...,16.59 cm (6.53 inch),Full HD+,Qualcomm Snapdragon 662,Octa Core,6000 mAh Battery,"₹12,990"
4,REDMI,"REDMI 9 Power (Fiery Red, 64 GB)",Fiery Red,4 GB RAM,64 GB ROM,8MP Front Camera,48MP + 8MP + 2MP + 2MP,https://www.flipkart.com/redmi-9-power-fiery-r...,16.59 cm (6.53 inch),Full HD+,Qualcomm Snapdragon 662,Octa Core,6000 mAh Battery,"₹10,999"
5,REDMI,"REDMI 9 Power (Blazing Blue, 64 GB)",Blazing Blue,4 GB RAM,64 GB ROM,8MP Front Camera,48MP + 8MP + 2MP + 2MP,https://www.flipkart.com/redmi-9-power-blazing...,16.59 cm (6.53 inch),Full HD+,Qualcomm Snapdragon 662,Octa Core,6000 mAh Battery,"₹13,995"
6,Redmi,"Redmi 9 (Sky Blue, 64 GB)",Sky Blue,4 GB RAM,64 GB ROM,5MP Front Camera,13MP + 2MP,https://www.flipkart.com/redmi-9-sky-blue-64-g...,16.59 cm (6.53 inch),HD+,MediaTek Helio G35,_,5000 mAh Battery,"₹9,106"
7,Redmi,"Redmi 9 (Sky Blue, 128 GB)",Sky Blue,4 GB RAM,128 GB ROM,5MP Front Camera,13MP + 8MP,https://www.flipkart.com/redmi-9-sky-blue-128-...,16.59 cm (6.53 inch),HD+,MediaTek Helio G35,_,5000 mAh Battery,"₹11,989"
8,REDMI,"REDMI 9 Power (Mighty Black, 128 GB)",Mighty Black,6 GB RAM,128 GB ROM,8MP Front Camera,48MP + 8MP + 2MP + 2MP,https://www.flipkart.com/redmi-9-power-mighty-...,16.59 cm (6.53 inch),Full HD+,Qualcomm Snapdragon 662,Octa Core,6000 mAh Battery,"₹15,933"
9,SAMSUNG,"SAMSUNG Galaxy M02 (Black, 32 GB)",Black,3 GB RAM,32 GB ROM,5MP Front Camera,13MP + 2MP,https://www.flipkart.com/samsung-galaxy-m02-bl...,16.64 cm (6.55 inch),Full HD+,MediaTek MT6739,Quad Core,5000 mAh Battery,"₹8,999"
10,I,"I Kall Z6 (Grey, 64 GB)",Grey,4 GB RAM,64 GB ROM,5MP Front Camera,8MP Rear Camera,https://www.flipkart.com/kall-z6-grey-64-gb/p/...,15.9 cm (6.26 inch),1014 x 480$$pixel,_,Quad Core,4000 mAh Battery,"₹7,349"
11,Redmi,"Redmi 9 (Sporty Orange, 64 GB)",Sporty Orange,4 GB RAM,64 GB ROM,5MP Front Camera,13MP + 2MP,https://www.flipkart.com/redmi-9-sporty-orange...,16.59 cm (6.53 inch),HD+,MediaTek Helio G35,_,5000 mAh Battery,"₹9,299"
12,Tecno,"Tecno Spark 7 (Spruce Green, 32 GB)",Spruce Green,2 GB RAM,Expandable Upto 256 GB,8MP Front Camera,16MP Rear Camera,https://www.flipkart.com/tecno-spark-7-spruce-...,16.56 cm (6.52 inch),HD+,Helio A25,Octa Core,6000 mAh Battery,"₹7,849"
13,Tecno,"Tecno Spark 7 (Magnet Black, 32 GB)",Magnet Black,2 GB RAM,Expandable Upto 256 GB,8MP Front Camera,16MP Rear Camera,https://www.flipkart.com/tecno-spark-7-magnet-...,16.56 cm (6.52 inch),HD+,Helio A25,Octa Core,6000 mAh Battery,"₹7,814"
14,SAMSUNG,"SAMSUNG M02s (Black, 32 GB)",Black,3 GB RAM,32 GB ROM,5MP Front Camera,13MP + 2MP + 2MP,https://www.flipkart.com/samsung-m02s-black-32...,16.51 cm (6.5 inch),Full HD+,Qualcomm Snapdragon 450,Octa Core,5000 mAh Battery,"₹9,274"
15,SAMSUNG,"SAMSUNG M02s (Blue, 32 GB)",Blue,3 GB RAM,32 GB ROM,5MP Front Camera,13MP + 2MP + 2MP,https://www.flipkart.com/samsung-m02s-blue-32-...,16.51 cm (6.5 inch),Full HD+,Qualcomm Snapdragon 450,Octa Core,5000 mAh Battery,"₹9,238"
16,REDMI,"REDMI Note 10S (Cosmic Purple, 128 GB)",Cosmic Purple,6 GB RAM,128 GB ROM,13MP Front Camera,64MP + 8MP + 2MP + 2MP,https://www.flipkart.com/redmi-note-10s-cosmic...,16.33 cm (6.43 inch),Full HD+,MediaTek Helio G95,Octa Core,5000 mAh Battery,"₹17,190"
17,OPPO,"OPPO A16 (Pearl Blue, 64 GB)",Pearl Blue,4 GB RAM,64 GB ROM,_,13MP Rear Camera,https://www.flipkart.com/oppo-a16-pearl-blue-6...,16.56 cm (6.52 inch),720 x 1080$$pixel,_,Octa Core,Brand Warranty of 1 Year Available for Mobile ...,"₹12,975"
18,OPPO,"OPPO A15s (Dynamic Black, 64 GB)",Dynamic Black,4 GB RAM,64 GB ROM,_,13MP Rear Camera,https://www.flipkart.com/oppo-a15s-dynamic-bla...,16.56 cm (6.52 inch),1520 x 720$$pixel,_,Octa Core,4230 mAh Battery,"₹12,990"
19,OPPO,"OPPO A16 (Crystal Black, 64 GB)",Crystal Black,4 GB RAM,64 GB ROM,_,13MP Rear Camera,https://www.flipkart.com/oppo-a16-crystal-blac...,16.56 cm (6.52 inch),720 x 1080$$pixel,_,Octa Core,Brand Warranty of 1 Year Available for Mobile ...,"₹12,975"
20,Panasonic,"Panasonic ELUGA I6 (Black, 16 GB)",Black,2 GB RAM,Expandable Upto 256 GB,5MP Front Camera,8MP Rear Camera,https://www.flipkart.com/panasonic-eluga-i6-bl...,13.84 cm (5.45 inch),FWVGA,MediaTek,Quad Core,3000 mAh Battery,"₹5,490"
21,SAMSUNG,"SAMSUNG Galaxy M31 (Space Black, 64 GB)",Space Black,6 GB RAM,Expandable Upto 512 GB,32MP Front Camera,64MP + 8MP + 5MP + 5MP,https://www.flipkart.com/samsung-galaxy-m31-sp...,16.26 cm (6.4 inch),Full HD+,Samsung Exynos 9 Octa 9611,Octa Core,6000 mAh Battery,"₹15,999"
22,Redmi,"Redmi 9A Sport (Coral Green, 32 GB)",Coral Green,2 GB RAM,Expandable Upto 512 GB,5MP Front Camera,13MP Rear Camera,https://www.flipkart.com/redmi-9a-sport-coral-...,16.59 cm (6.53 inch),HD+,MediaTek Helio G25,Octa Core,5000 mAh Battery,"₹8,215"
23,Redmi,"Redmi 9A (SeaBlue, 32 GB)",SeaBlue,2 GB RAM,32 GB ROM,_,13MP Rear Camera,https://www.flipkart.com/redmi-9a-seablue-32-g...,16.59 cm (6.53 inch),Full HD+,_,Octa Core,5000 mAh Battery,"₹7,699"
24,Redmi,"Redmi 9A (Midnight Black, 32 GB)",Midnight Black,2 GB RAM,32 GB ROM,_,13MP Rear Camera,https://www.flipkart.com/redmi-9a-midnight-bla...,16.59 cm (6.53 inch),Full HD+,_,Octa Core,5000 mAh Battery,"₹7,975"

### scraping geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [116]:
driver.get("https://www.google.com/maps")

In [117]:
userSearch=input("enter location name")

enter location nameMustabad

In [118]:
search_Prods=driver.find_element_by_xpath("//input[@autofocus='autofocus']")
search_Prods.send_keys(userSearch)

In [119]:
search_btn=driver.find_element_by_xpath("//button[@aria-label='Search']")
search_btn.click()

In [121]:
url=driver.find_element_by_css_selector('meta[itemprop=image]').get_attribute('content')

In [123]:
url

'https://maps.google.com/maps/api/staticmap?center=20.98801345%2C82.75252935&zoom=5&size=256x256&language=en&sensor=false&client=google-maps-frontend&signature=ZYHV1n0-tYMoGJDMTZX-6f2GKjM'

In [178]:
[latitude,longitude]=url.split('?center=')[1].split('&zoom=')[0].split('%2C')

In [179]:
latitude

'20.98801345'

In [180]:
longitude

'82.75252935'

### Scrape details of all the funding deals for second quarter (i.e. July 20 – September 20) from trak.in.

In [3]:
driver.get("https://trak.in/india-startup-funding-investment-2015/")

In [15]:
dateLst=[]
nameLst=[]
industryLst=[]
subVerticalLst=[]
cityLst=[]
investorsLst=[]
investmentTypeLst=[]
amoutLst=[]
for i in range(48,51):
    rows = driver.find_elements_by_xpath('//table[@id="tablepress-{}"]/tbody/tr'.format(i))
    for row in rows:
        cols = row.find_elements_by_xpath('.//td')        
        dateLst.append(cols[1].text)
        nameLst.append(cols[2].text)
        industryLst.append(cols[3].text)
        subVerticalLst.append(cols[4].text)
        cityLst.append(cols[5].text)
        investorsLst.append(cols[6].text)
        investmentTypeLst.append(cols[7].text)
        amoutLst.append(cols[8].text)

In [18]:
        
funding=pd.DataFrame({})
funding['Date']=dateLst
funding['name']=nameLst
funding['industry/vertical']=industryLst
funding['subvertical']=subVerticalLst
funding['city']=cityLst
funding['investors']=investorsLst
funding['investmentType']=investmentTypeLst
funding['amountLst']=amoutLst






funding['index']=list(range(1,len(nameLst)+1))
funding.set_index('index',inplace=True)
funding

,Date,name,industry/vertical,subvertical,city,investors,investmentType,amountLst
index,,,,,,,,
1,15/07/2020,Flipkart,E-commerce,E-commerce,Bangalore,Walmart Inc,M&A,"1,200,000,000"
2,16/07/2020,Vedantu,EduTech,Online Tutoring,Bangalore,Coatue Management,Series D,"100,000,000"
3,16/07/2020,Crio,EduTech,Learning Platform for Developers,Bangalore,021 Capital,pre-Series A,"934,160"
4,14/07/2020,goDutch,FinTech,Group Payments,Mumbai,"Matrix India,Y Combinator, Global Founders Cap...",Seed,"1,700,000"
5,13/07/2020,Mystifly,Airfare Marketplace,"Ticketing, Airline Retailing, and Post-Ticketi...",Singapore and Bangalore,Recruit Co. Ltd.,pre-Series B,"3,300,000"
6,09/07/2020,JetSynthesys,Gaming and Entertainment,Gaming and Entertainment,Pune,Adar Poonawalla and Kris Gopalakrishnan.,Venture-Series Unknown,"400,000"
7,10/07/2020,gigIndia,Marketplace,"Crowd Sourcing, Freelance",Pune,Incubate Fund India and Beyond Next Ventures,pre-Series A,"974,200"
8,15/07/2020,PumPumPum,Automotive Rental,Used Car-leasing platform,Gurgaon,Early Adapters Syndicate,Seed,"292,800"
9,14/07/2020,FLYX,OTT Player,Streaming Social Network,New York and Delhi,"Raj Mishra, founder of AIT Global Inc",pre-Seed,"200,000"
10,13/07/2020,Open Appliances Pvt. Ltd.,Information Technology,Internet-of-Things Security Solutions,Bangalore,Unicorn India Ventures,Venture-Series Unknown,"500,000"
11,15/08/2020,Practo,HealthTech,Health care and Wellness,Bangalore,A1A Company,Series F,"32,000,000"
12,13/08/2020,Medlife,E-commerce,Online Pharmacy,Bangalore,Prasid Uno Family Trust and SC Credit Fund,,"23,000,000"
13,13/08/2020,HungerBox,FoodTech,Online Food Delivery Service,Bangalore,"One97, Sabre Partners Trust, Pratithi Investme...",Series D1,"1,560,000"
14,04/08/2020,Dunzo,Hyper-local Logistics,Online Delivery Services,Bangalore,Existing Backers,In Progress,"30,000,000"
15,11/08/2020,Terra.do,EduTech,"Online Climate School, E-learning","Stanford, California,","Stanford Angels and Entrepreneurs (India), BEE...",Seed,"1,400,000"
16,12/08/2020,Classplus,EduTech,"E-learning, Online Tutoring",Noida,Falcon Edge,In Progress,"upto 15,000,000"
17,14/08/2020,Niyo,FinTech,Financial Services,Bangalore,Niyo Solutions Inc.,,"6,000,000"
18,10/08/2020,ZestMoney,FinTech,Financial Services,Bangalore,Primrose Hills Ventures,,"10,670,000"
19,07/08/2020,FreshToHome,E-commerce,Food Delivery,Bangalore,Ascent Capital,Venture,"16,200,000"
20,13/08/2020,Eduvanz,FinTech,Financial Services,Mumbai,"Sequoia India, Unitus",Series A,"5,000,000"
21,08/09/2020,Byju’s,EduTech,Online Tutoring,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
22,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
23,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
24,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
25,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"
26,07/09/2020,Melorra,E-commerce,Online Jewelry Store,Bangalore,"Shadow Holdings, Lightbox.",Debt Financing,"upto 8,900,000"
27,07/09/2020,1mg,E-commerce,Online Pharmacy,Gurgaon,"Gaja Capital, Tata Capital, Partners Group",In Progress,"100,000,000"
28,31/08/2020,mfine,HealthTech,On-Demand Healthcare Services,Bangalore,Caretech Pte Inc,Series B,"5,400,000"
29,31/08/2020,Apna,Human Resources,Recruitment Platform,Bangalore,Lightspeed India and Sequoia Capital India,Series A,"8,000,000"
30,03/09/2020,Railofy,Transportation,WL & RAC protection platform,Mumbai,Chiratae Ventures,Seed,"950,000"

## Write a program to scrap all the available details of best gaming laptops from digit.in.

In [ ]:
Gaming

In [ ]:
class="menu"

In [37]:
driver.get("https://www.digit.in/")
a = ActionChains(driver)
m= driver.find_element_by_xpath("*//div[@class='menu']/ul[1]/li[3]")
a.move_to_element(m).perform()
m.click()

listItems= driver.find_elements_by_xpath("*//ul[@class='list-unstyled sidebar-list']/li")
for item in listItems:
    if item.text =="Best Gaming Laptops in India":
        item.click()
        break

In [41]:
tableRows = driver.find_elements_by_xpath("*//table[@id='summtable']/tbody/tr")

In [44]:
productName=[]
seller=[]
price=[]
for tableRow in tableRows:
    tds = tableRow.find_elements_by_xpath(".//td")
    if len(tds)>0:
        productName.append(tds[0].text)
        seller.append(tds[1].text)
        price.append(tds[2].text)

In [45]:
        
laptops=pd.DataFrame({})
laptops['product Name']=productName
laptops['seller']=seller
laptops['price']=price

laptops['index']=list(range(1,len(productName)+1))
laptops.set_index('index',inplace=True)
laptops

                                        product Name    seller      price
index
1                        Acer NITRO 5 Ryzen 9 (2021)  Flipkart  ₹ 129,990
2      MSI Stealth 15M 11th Gen Core i7-11375H (2021  Flipkart  ₹ 134,990
3       ASUS ROG Strix Scar 15 Ryzen 9-5900HX (2021)  Flipkart  ₹ 268,990
4                              Alienware Area 51M R2       N/A  ₹ 342,989
5                                   Alienware m15 R3    Amazon  ₹ 319,990
6                             ASUS ROG Strix Scar 15  Flipkart  ₹ 215,990
7                              Asus ROG Zephyrus G14    Amazon  ₹ 164,990
8                                   Lenovo Legion 5i    Amazon   ₹ 76,988
9                           ASUS ROG ZEPHYRUS DUO 15    Amazon  ₹ 185,000
10                              Acer Aspire 7 gaming    Amazon   ₹ 58,990

### scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [188]:
driver.get("https://www.forbes.com/")

In [192]:
search_btn=driver.find_element_by_xpath("//button[@aria-label='Open Navigation Menu']")
search_btn.click()

In [198]:
a = ActionChains(driver)
m= driver.find_element_by_xpath("//li[@data-title='Billionaires']")
#hover the mouse
a.move_to_element(m).perform()

worldsBillionaires=driver.find_element_by_xpath('.//a[@aria-label="World\'s Billionaires"]')
worldsBillionaires.click()

In [223]:
len(listRows)

15

In [229]:
def getBilllionareDetails(liRow):
    try:
        rank="_"
        rank=liRow.find_element_by_xpath(".//div[@class='rank']")
        rank=rank.text
        
    except:
        rank="_"
    try:
        person="_"
        person=liRow.find_element_by_xpath(".//div[@class='personName']")
        person=person.text
        
    except:
        person="_"
    try:
        netWorth="_"
        netWorth=liRow.find_element_by_xpath(".//div[@class='netWorth']")
        netWorth=netWorth.text
        
    except:
        netWorth='_'
        
    try:
        age="_"
        age=liRow.find_element_by_xpath(".//div[@class='age']")
        age=age.text
    except:
        age="_"
    try:
        citizenShip="_"
        citizenShip=liRow.find_element_by_xpath(".//div[@class='countryOfCitizenship']")
        citizenShip=citizenShip.text
    except:
        citizenShip="_"
    try:
        source="_"
        source=liRow.find_element_by_xpath(".//div[@class='source-column']")
        source=source.text
       
    except:
        source='_'
    try:
        category="_"
        category=liRow.find_element_by_xpath(".//div[@class='category']")
        category=category.text
       
    except:
        category='_'
    
        
    return(rank,person,netWorth,age,citizenShip,source,category)

In [232]:
rankLst=[]
nameLst=[]
netWorthLst=[]
ageLst=[]
citizenLst=[]
sourceLst=[]
categoryLst=[]


tableRowGrps=driver.find_elements_by_xpath("*//div[@class='table-row-group']")
tableRowGrp=tableRowGrps[1]
for tableRowGrp in tableRowGrps:
    listRows=tableRowGrp.find_elements_by_xpath(".//div[@role='row']")
    for liRow in listRows:
        (rank,person,netWorth,age,citizenShip,source,category)=getBilllionareDetails(liRow)
        rankLst.append(rank)
        nameLst.append(person)
        netWorthLst.append(netWorth)
        ageLst.append(age)
        citizenLst.append(citizenShip)
        sourceLst.append(source)
        categoryLst.append(category)
        
        
billionaries=pd.DataFrame({})
billionaries['rank']=rankLst
billionaries['name']=nameLst
billionaries['netWorth']=netWorthLst
billionaries['age']=ageLst
billionaries['citizenship']=citizenLst
billionaries['source']=sourceLst
billionaries['industry']=categoryLst





billionaries['index']=list(range(1,len(nameLst)+1))
billionaries.set_index('index',inplace=True)
billionaries

,rank,name,netWorth,age,citizenship,source,industry
index,,,,,,,
1,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
2,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
3,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
4,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
5,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...,...
196,195.,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
197,197.,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
198,197.,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
199,197.,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
200,200.,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

### scrape extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [95]:
def scroll_to_end(wd):
    wd.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [81]:
totalcomments = driver.find_elements_by_xpath('//*[@id="content-text"]')
totalcomments[0].text
len(totalcomments)

20

In [ ]:
div id="main"
class="style-scope ytd-comment-renderer"
//*[@id="main"]

In [80]:
commentContainer = driver.find_elements_by_xpath('//*[@id="main"]')
len(commentContainer)

21

In [68]:
class="style-scope ytd-comment-renderer"
ytd-expander

0

In [109]:
import time

In [138]:
youtube = "https://www.youtube.com/"
driver.get(youtube)
driver.implicitly_wait(3)


    
userSearch=input("enter the songName eg: Param Sundari")

search_Prod=driver.find_element_by_xpath("//div[@id='search-input']/input")
search_Prod.send_keys(userSearch)
driver.find_element_by_id('search-icon-legacy').click()

a = ActionChains(driver)
m= driver.find_element_by_xpath("//a[@id='video-title']")
#hover the mouse
a.move_to_element(m).perform()
m.click()

driver.implicitly_wait(3)

scroll_to_end(driver)

commentLen=0
max_comments_to_fetch=500
driver.execute_script('window.scrollTo(0,100);')
driver.implicitly_wait(10)

x=300
z=x
k=0
while commentLen < max_comments_to_fetch:
    #scroll_to_end(driver)
    x=x+z
    #driver.execute_script("window.scrollTo(0,Math.max(document.documentElement.scrollHeight,document.body.scrollHeight,document.documentElement.clientHeight))")
    y='window.scrollTo(0,{})'.format(x)
    driver.execute_script(y)
    
    time.sleep(2)
    #driver.implicitly_wait(3)

    totalcomments= driver.find_elements_by_xpath("//*[@id='content-text']")
    commentLen = len(totalcomments)
    k=k+1
    if k==10:
        k=0
        print('number of comments:',commentLen)

enter the songName eg: Param SundariParam Sundari
number of comments: 40
number of comments: 60
number of comments: 80
number of comments: 120
number of comments: 140
number of comments: 160
number of comments: 180
number of comments: 220
number of comments: 240
number of comments: 280
number of comments: 300
number of comments: 320
number of comments: 360
number of comments: 380
number of comments: 420
number of comments: 440
number of comments: 480

In [142]:
print('number of comments:',commentLen)

number of comments: 500

In [139]:
totalcomments= driver.find_elements_by_xpath("//*[@id='content-text']")

500

In [143]:
def getCommentDetaails(commentContainer):
    try:
        comment="_"
        comment=commentContainer.find_element_by_xpath(".//*[@id='content-text']").text        
    except:
        comment="_"
        
    try:
        dt="_"
        dt=commentContainer.find_element_by_xpath(".//yt-formatted-string[@class='published-time-text above-comment style-scope ytd-comment-renderer']").text
    except:
        dt="_"
    try:
        upvoteCount="_"
        upvoteCount=commentContainer.find_element_by_xpath(".//span[@id='vote-count-middle']").text
    except:
        upvoteCount="_"
    
    return (comment,dt,upvoteCount)

In [145]:
commmetLst=[]
upvotesLst=[]
timeLst=[]


commentContainers = driver.find_elements_by_xpath('//*[@id="main"]')


for commentContainer in commentContainers:
    comment,dt,upvoteCount=getCommentDetaails(commentContainer)
    commmetLst.append(comment)
    upvotesLst.append(upvoteCount)
    timeLst.append(dt)
    
        
        
commetsDF=pd.DataFrame({})
commetsDF['Comment']=commmetLst
commetsDF['upvotes']=upvotesLst
commetsDF['time']=timeLst

In [146]:


commetsDF['index']=list(range(1,len(commetsDF)+1))
commetsDF.set_index('index',inplace=True)
commetsDF

                                                 Comment upvotes        time
index
1      This song is really like I'm addicted to it be...      38  2 days ago
2      “Learn to light a candle in the darkest moment...      45   1 day ago
3       It's October 2021,let's see how many legends ...      62  4 days ago
4      Hats off \nWhat a way of thinking AR REHMAN is...       6  3 days ago
5                         Totally Addicted to this Song        7  5 days ago
...                                                  ...     ...         ...
496                              A R   R A H M A N. . .       53  1 week ago
497                                                               6 days ago
498                                          Ak no song        1  1 week ago
499             King of music À R rahaman sir ka j'ai ho          6 days ago
500                       This song not going to be old!          5 days ago

[500 rows x 3 columns]

In [150]:
commetsDF.iloc[493]

Comment    പരമ സുന്ദരി എന്ന് കേട്ടപ്പോൾ മലയാളം പാട്ട് ആണ്...
upvotes
time                                              6 days ago
Name: 494, dtype: object

### Scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. 
### hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [163]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains

import numpy as np

In [164]:
driver=webdriver.Chrome(r"E:\softwares\chromedriver.exe")

In [168]:
hstls = "https://www.hostelworld.com/"
driver.get(hstls)
driver.implicitly_wait(3)


a = ActionChains(driver)
m= driver.find_element_by_xpath("//*[@id='location-text-input-field']")
#hover the mouse
a.move_to_element(m).perform()
m.click()

In [169]:
   
userSearch=input("enter the location eg: London")
search_Prod=driver.find_element_by_xpath("//*[@id='search-input-field']")
#search_Prod=driver.find_element_by_xpath("//*[@id='location-text-input-field']")
search_Prod.send_keys(userSearch)
#driver.find_element_by_id('search-icon-legacy').click()

enter the location eg: LondonLondon

In [170]:
predicted=driver.find_element_by_xpath("//*[@id='predicted-search-results']/li[2]")
predicted.click()

In [171]:
letsGoButton=driver.find_element_by_xpath("//*[@class='search-button']/button")
letsGoButton.click()

In [187]:
propertyCards=driver.find_elements_by_xpath("//*[@class='property-card']")
len(propertyCards)

32

In [195]:
propertyCard =propertyCards[3]

"St Christopher's Village\nHostel - 1.8km from city centre Show on Map\nFree WiFi\nFollows Covid-19 sanitation guidance"

'Hostel - 1.8km from city centre Show on Map'

In [244]:
def propertyDetails(propertyCard):
    try:
        propertyCon=propertyCard.find_element_by_xpath(".//*[@class='property']")
    except:
        propertyCon='0'
        
    try:
        titleRow=propertyCon.find_element_by_xpath(".//*[@class='title-row']")
    except:
        titleRow="_"
    try:
        title=titleRow.find_element_by_xpath(".//*[@class='title title-6']")
        title=title.text
    except:
        title="_"
        
    try:
        distance=titleRow.find_element_by_xpath(".//*[@class='subtitle body-3']")
        distance=distance.text
    except:
        distance="_"
        
    try:
        facilities=propertyCon.find_element_by_xpath(".//*[@class='facilities-label facilities']")
        facilities=facilities.text.replace("\n",",")

    except:
        facilities="_"

    try:
        infoCon=propertyCon.find_element_by_xpath(".//*[@class='info']")
        
        try:
            overallReview=infoCon.find_element_by_xpath(".//*[@class='keyword']")
            overallReview=overallReview.text.replace("\n",',')
        except:
            overallReview="_"
        try:
            totalReviews=infoCon.find_element_by_xpath(".//*[@class='reviews']")
            totalReviews=totalReviews.text.split()[0]
        except:
            totalReviews="_"
        try:

            propertyDesc=infoCon.find_element_by_xpath(".//*[@class='rating-factors prop-card-tablet rating-factors small']")
            propertyDesc=propertyDesc.text.replace("\n",',')
        except:
            propertyDesc="_"
        try:
            rating=infoCon.find_element_by_xpath(".//div[contains(@aria-label,'Rating')]")
            rating=rating.text
        except:
            rating="_"
    except:
        overallReview='_'
        totalReviews="_"
        propertyDesc="_"
        rating="_"
        
    try:
        pricesCon=propertyCard.find_element_by_xpath(".//*[@class='prices']")
        prices=pricesCon.find_elements_by_xpath(".//*[@class='price-col']")
        privates=prices[0]
        dorms=prices[1]

        if 'No' in privates.text:
            privatesFrom=0
        else:
            privatesFrom=privates.text.split()[-1]

        if 'No' in dorms.text:
            dormsFrom=0
        else:
            dormsFrom=dorms.text.split()[-1]
    except:
        dormsFrom=0
        privatesFrom=0
        
    
    return (title,distance,facilities,overallReview,totalReviews,propertyDesc,rating, dormsFrom,privatesFrom)

In [245]:
commmetLst=[]
upvotesLst=[]
timeLst=[]
titleLst=[]
distanceLst=[]
facilitiesLst=[]
overallReviewLst=[]
totalReviewsLst=[]
propertyDescLst=[]
ratingLst=[]
dormsFromLst=[]
privatesFromLst=[]




for propertyCard in propertyCards:

    (title,distance,facilities,overallReview,totalReviews,propertyDesc,rating, dormsFrom,privatesFrom)=propertyDetails(propertyCard)
    titleLst.append(title)
    distanceLst.append(distance)
    facilitiesLst.append(facilities)
    overallReviewLst.append(overallReview)
    totalReviewsLst.append(totalReviews)
    propertyDescLst.append(propertyDesc)
    ratingLst.append(rating)
    dormsFromLst.append(dormsFrom)
    privatesFromLst.append(privatesFrom)
    
        
        
hostelsDF=pd.DataFrame({})
hostelsDF['hostel Name']=titleLst
hostelsDF['distance from city']=distanceLst

hostelsDF['ratings']=ratingLst
hostelsDF['total reviews']=totalReviewsLst
hostelsDF['overall reviews']=overallReviewLst

hostelsDF['privates from price']=privatesFromLst

hostelsDF['Dorms From Price']=dormsFromLst

hostelsDF['Facilities']=facilitiesLst

hostelsDF['property Description']=propertyDescLst

In [246]:


hostelsDF['index']=list(range(1,len(titleLst)+1))
hostelsDF.set_index('index',inplace=True)
hostelsDF

,hostel Name,distance from city,ratings,total reviews,overall reviews,privates from price,Dorms From Price,Facilities,property Description
index,,,,,,,,,
1,_,Hostel - 5.5km from city centre,9.0,_,Superb,0,0,_,_
2,_,Hostel - 11.9km from city centre,8.5,_,Fabulous,0,0,_,_
3,247london Hostel and Private Rooms,Hostel - 8.2km from city centre Show on Map,6.6,443,Good,Rs5285,0,Free WiFi,"Nice Location,Helpful Staff,Excellent Cleanliness"
4,St Christopher's Village,Hostel - 1.8km from city centre Show on Map,8.4,10880,Fabulous,0,Rs1924,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Excellent Cleanl..."
5,Smart Camden Inn Hostel,Hostel - 4.4km from city centre Show on Map,8.9,2697,Fabulous,0,Rs1799,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Fantastic Cleanl..."
6,The Finnish Church in London,Hostel - 4.5km from city centre Show on Map,9.5,194,Superb,0,Rs2705,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Fantastic Cleanl..."
7,No.8 Seven Sisters,Hostel - 9km from city centre Show on Map,6.6,3640,Good,0,Rs945,"Free WiFi,Follows Covid-19 sanitation guidance","Great Location,Marvellous Staff"
8,The London Home Hostel,Hostel - 8.2km from city centre Show on Map,5.6\nRating\n250 Total Reviews,250,Rating,Rs4145,Rs1637,Free WiFi,"Nice Location,Brilliant Staff"
9,Selina Camden,Hostel - 5.5km from city centre Show on Map,9.0,10,Superb,Rs27386,0,Free WiFi,"Perfect Location,Superb Staff,Fantastic Cleanl..."
10,Safestay London Elephant & Castle,Hostel - 1.7km from city centre Show on Map,8.1,3967,Fabulous,Rs26115,Rs2176,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Marvellous Staff,Excellent Cl..."
11,Generator London,Hostel - 3km from city centre Show on Map,7.5,6755,Very Good,Rs11398,Rs2244,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Marvellous Staff,Excellent Cl..."
12,Venture Hostel,Hostel - 6.9km from city centre Show on Map,4.4\nRating\n1171 Total Reviews,1171,Rating,Rs7026,Rs1489,Free WiFi,
13,Saint James Backpackers,Hostel - 5.5km from city centre Show on Map,7.3,1766,Very Good,Rs7844,Rs2527,"Free WiFi,Free Breakfast,Follows Covid-19 sani...","Perfect Location,Marvellous Staff,Awesome Clea..."
14,New Cross Inn Hostel,Hostel - 6.1km from city centre Show on Map,6.7,1024,Good,0,Rs1727,"Free WiFi,Free Breakfast","Wonderful Location,Marvellous Staff,Awesome Cl..."
15,London Waterloo Hostel,Hostel - 0.7km from city centre Show on Map,6.8,2425,Good,0,Rs2052,"Free WiFi,Free Breakfast,Follows Covid-19 sani...","Perfect Location,Marvellous Staff"
16,St Christopher's Greenwich,Hostel - 7.6km from city centre Show on Map,6.8,3140,Good,0,Rs1434,"Free WiFi,Follows Covid-19 sanitation guidance","Great Location,Brilliant Staff,Excellent Clean..."
17,Smart Russell Square Hostel,Hostel - 2.6km from city centre Show on Map,6.7,9525,Good,0,Rs1566,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Brilliant Staff,Awesome Clean..."
18,No.8 Willesden Hostel London,Hostel - 10km from city centre Show on Map,8.4,4591,Fabulous,0,Rs1204,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Fantastic Cleanl..."
19,Prime Backpackers Angel,Hostel - 3.6km from city centre Show on Map,9.0,517,Superb,0,Rs2609,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Fantastic Cleanl..."
20,PubLove @ The Rose & Crown,Hostel - 1.6km from city centre Show on Map,7.5,101,Very Good,0,Rs3351,"Free WiFi,Follows Covid-19 sanitation guidance","Wonderful Location,Superb Staff,Awesome Cleanl..."
21,St Christopher's Camden,Hostel - 4.3km from city centre Show on Map,7.3,3714,Very Good,0,Rs1907,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Marvellous Staff,Awesome Clea..."
22,St Christopher's Shepherds Bush,Hostel - 7km from city centre Show on Map,8.3,632,Fabulous,0,Rs1751,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Awesome Cleanliness"
23,St Christopher's Hammersmith,Hostel - 7.5km from city centre Show on Map,7.0,3954,Very Good,0,Rs1423,"Free WiFi,Free Breakfast,Follows Covid-19 sani...","Wonderful Location,Marvellous Staff,Good Clean..."
24,Hootananny Hostel,Hostel - 5km from city centre Show on Map,8.6,1414,Fabulous,0,Rs2199,"Free WiFi,Free Breakfast","Perfect Location,Superb Staff,Awesome Cleanliness"
25,Phoenix Hostel,Hostel - 4.2km from city centre Show on Map,7.9,3443,Very Good,0,Rs2209,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Excellent Cleanl..."
26,"PubLove @ The Green Man, Paddington",Hostel - 4.3km from city centre Show on Map,7.0,396,Very Good,0,Rs2107,"Free WiFi,Follows Covid-19 sanitation guidance","Wonderful Location,Marvellous Staff,Excellent ..."
27,Wombat's The City Hostel London,Hostel - 3.6km from city centre Show on Map,8.7,13242,Fabulous,Rs16776,Rs2669,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Fantastic Cleanl..."
28,Queen Elizabeth Chelsea,Hostel - 5.7km from city centre Show on Map,8.2,3172,Fabulous,0,Rs1762,Free WiFi,"Perfect Location,Superb Staff,Excellent Cleanl..."
29,Le Junction Hostel - Pub & Garden,Hostel - 9.8km from city centre Show on Map,6.7,385,Good,0,Rs1382,"Free WiFi,Follows Covid-19 sanitation guidance","Great Location,Marvellous Staff,Awesome Cleanl..."
30,"PubLove @ The Crown, Battersea",Hostel - 4.7km from city centre Show on Map,7.5,217,Very Good,0,Rs2245,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Marvellous Staff,Awesome Clea..."
31,Smart Hyde Park View Hostel,Hostel - 5km from city centre Show on Map,8.1,4487,Fabulous,0,Rs2119,"Free WiFi,Follows Covid-19 sanitation guidance","Perfect Location,Superb Staff,Excellent Cleanl..."
32,London Backpackers,Hostel - 11.9km from city centre Show on Map,8.5,4133,Fabulous,0,Rs1523,"Free WiFi,Free Breakfast,Follows Covid-19 sani...","Perfect Location,Superb Staff,Fantastic Cleanl..."